/= content_for :head do
/  <meta property="og:title" content="#{title}" />
/  <meta property="og:description" content="#{strip_tags description}" />
/  <meta property="og:type" content="product" />
/  <meta property="og:url" content="#{request.url}" />
/  <meta property="og:price:amount" content="25.5" />
/  <meta property="og:price:currency" content="DKK" />
/  <meta property="og:availability" content="instock" />
/  <meta property="og:site_name" content="#{@site.title}" />
/  <meta property="og:image" content="#{'http://calligraphen.dk'+image_url.to_s}" />
/  <meta property="fb:app_id" content="584173171643196" />
/  <meta property="fb:app_id" content="584173171643196" />