=link_to new_account_account_opportunity_music_request_music_submission_path(@account, @opportunity, @music_request, recording_id: @recording_id), remote: true  do
  .btn.btn-success.btn-lg
    i class="fa fa-plus-circle"  
    '&nbsp;Submit Recording