
'&nbsp;
=link_to account_catalog_catalog_recording_path(@account, @catalog,  @recording) , data: { confirm: 'Are you sure you want to remove this recording?' } , method: :delete do
  .btn.btn-warning.btn-lg
    i class="fa fa-minus-circle" 