/nav.navbar.navbar-default.nav-user
/  .container-fluid
/    /! Brand and toggle get grouped for better mobile display
/    .navbar-header
/      /button.navbar-toggle.collapsed data-target="#cms_navigation_bar_#{section.id.to_s}" data-toggle="collapse" type="button" 
/      button.navbar-toggle.collapsed data-target="#cms_navigation_bar" data-toggle="collapse" type="button" 
/        span.sr-only Toggle navigation
/        span.icon-bar
/        span.icon-bar
/        span.icon-bar
/      
/      - if user_signed_in? && current_account
/        /.navigation-avatar
/        = link_to profile_path_for( current_user), class: 'navbar-brand' do
/          = image_tag current_user.image_url(:avatar_32x32)
/          '&nbsp;
/          = current_user.user_name
/      /a.navbar-brand href="#"  Brand
/    /! Collect the nav links, forms, and other content for toggling
/    .collapse.navbar-collapse id="cms_navigation_bar" 
/      ul.nav.navbar-nav
/        /li.active
/        /  a href="#" 
/        /    | Link
/        /    span.sr-only (current)
/        /li
/        /  = link_to user_path(@user) do
/        /    i.fa.fa-headphones
/        /    '&nbsp;Activities
/        /li.dropdown
/        /  a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/        /    | Dropdown
/        /    span.caret
/        /  ul.dropdown-menu role="menu" 
/        /    li
/        /      a href="#"  Action
/        /    li
/        /      a href="#"  Another action
/        /    li
/        /      a href="#"  Something else here
/        /    li.divider
/        /    li
/        /      a href="#"  Separated link
/        /    li.divider
/        /    li
/        /      a href="#"  One more separated link
/        /
/      ul.nav.navbar-nav.navbar-right
/        - if user_signed_in? && current_account
/          li class="#{ page == 'messages' ? 'active' : ''}"
/            = link_to user_unread_messages_path(current_user) do
/              div id="message_count"
/              == render 'messages/count'
/              i.fa.fa-envelope
/              '&nbsp;
/              'Messages
/          /li class="#{page == 'activities' && @user == current_user ? 'active' : ''}"
/          /  = link_to user_user_activities_path(current_user) do
/          /    i.fa.fa-home
/          /li class="#{page == 'user' && @user == current_user ? 'active' : ''}"
/          /  = link_to profile_path_for( current_user) do
/          /    = image_tag current_user.image_url(:avatar_32x32)
/          /    '&nbsp;
/        
/        
/        - if user_signed_in?  
/          li class="dropdown"
/            /<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
/            = link_to '#', class: "dropdown-toggle", 'data-toggle'.to_sym => "dropdown" do
/              i.fa.fa-cog
/              '&nbsp;Settings
/            ul class="dropdown-menu" role="menu"
/              - if current_user  
/
/              
/                li    
/                  = link_to logout_path do
/                    i class="fa fa-unlock"
/                    '&nbsp;
/                    'Log Out
/                li class="divider"    
/                /li  class="#{page == 'edit_profile' ? 'active' : ''}"
/                /  = link_to edit_user_path(current_user) do
/                /    i class="fa fa-pencil"
/                /    '&nbsp;
/                /    'Edit Profile
/                  
/
/              
/                li  class="#{page == 'contacts' ? 'active' : ''}"
/                  = link_to user_user_control_panel_index_path(current_user ) do
/                    i class="fa fa-tachometer"
/                    '&nbsp;
/                    ''settings'.to_sym
/      
/
/                  
/                - unless current_user.account.account_type  == "Social"    
/                  li class="divider"
/                  li  class="#{page == 'account' ? 'active' : ''}"
/                    = link_to account_account_path( current_user.account) do
/                      i class="fa fa-tachometer"
/                      '&nbsp;
/                      'Pro Account
/                    
/                  li  class="#{page == 'user_collections' ? 'active' : ''}"
/                    = link_to user_user_collections_path( current_user) do
/                      i class="fa fa-tachometer"
/                      '&nbsp;
/                      'Other Accounts
/                    
/                  li  class="#{page == 'catalogs' ? 'active' : ''}"
/                    = link_to user_user_catalogs_path( current_user) do
/                      i class="fa fa-book"
/                      '&nbsp;
/                      'Catalogs
/                    
/                  - if super?
/    
/    
/                    li  class="#{page == 'admin' ? 'active' : ''}"
/                      = link_to admin_index_path do
/                        i class="fa fa-gear"
/                        '&nbsp;
/                        'Admin
/        
/        /li
/        /  a href="#"  Link
/        /li.dropdown
/        /  a.dropdown-toggle aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
/        /    | Dropdown
/        /    span.caret
/        /  ul.dropdown-menu role="menu" 
/        /    li
/        /      a href="#"  Action
/        /    li
/        /      a href="#"  Another action
/        /    li
/        /      a href="#"  Something else here
/        /    li.divider
/        /    li
/        /      a href="#"  Separated link
/              
/              
/    /! /.navbar-collapse
/  /! /.container-fluid
/