.no_shadow,.no_bevel{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.reset{padding:0;margin:0;}
.paint{background:silver;}
.preset_gradient{background-color:#cecece;background:-moz-linear-gradient(top, #cecece, #9e9e9e);background:-webkit-gradient(linear, left top, left bottom, from(#cecece), to(#9e9e9e));}
.grey_gradient{background-color:#ffffff;background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));}
.dark_gradient{background-color:#767676;background:-moz-linear-gradient(top, #767676, #282828);background:-webkit-gradient(linear, left top, left bottom, from(#767676), to(#282828));}
.bottom_shadow{box-shadow:0 2px 4px #bebebe;-moz-box-shadow:0 2px 4px #bebebe;-webkit-box-shadow:0 2px 4px #bebebe;position:relative;}
.grey_table{width:750px;list-style:none;}
.grey_table .grey_table_row{background-color:#efefef;text-shadow:#ffffff 1px 1px 0px;padding:10px 6px 4px 10px;margin:0px;height:25px;font-weight:bold;font-size:1.3em;border-bottom:1px solid #bbbbbb;}
.grey_table .grey_table_row.current{background-color:#ffffff;}
.grey_table .grey_table_row.header{border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;background:-moz-linear-gradient(top, #f0f0f0, #cfcfcf);background:-webkit-gradient(linear, 0% 10%, 0% 90%, from(#f0f0f0), to(#cfcfcf));background-image:-o-linear-gradient(#f0f0f0, #cfcfcf);border-bottom:1px solid #949494;font-size:1em;height:20px;}
.grey_table .grey_table_row.footer{border-radius:0 0 3px 3px;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;background-color:#cccccc;border-top:1px solid #efefef;height:8px;padding:0px;}
.grey_table .grey_table_row{text-align:center;}
.grey_table .grey_table_row .grey_table_cell{float:left;width:120px;height:30px;}
.grey_table .grey_table_row .grey_table_cell .change_plan a{margin-top:-2px;}
.grey_table .grey_table_row .grey_table_cell .crud_button{width:80px;text-align:center;}
.grey_table .grey_table_row .grey_table_cell.monthly_price{color:#797979;font-size:0.9em;width:40px;}
.grey_table .grey_table_row .grey_table_cell.change_plan{margin-top:-4px;margin-left:10px;width:100px;}
.grey_table .grey_table_row .grey_table_cell:nth-child(5){text-align:right;width:110px;margin-right:15px;}
.grey_table .grey_table_row .grey_table_cell:first-child{text-align:left;}
section.plan.padded.credentials.clearfix{padding:20px;}
div.grey_table_cell.change_plan input.crud_button.blue{width:102px;}
.data_row header{padding:6px 8px 8px 8px;font-size:11px;color:#323232;border:solid #c9c9c9 1px;border-color:#c9c9c9 #c9c9c9 #464646 #c9c9c9;background-color:#ffffff;background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));}
.data_row section header{background:white;border-width:0;}
.no-cssgradients .data_row header,.no-cssgradients .data_row .buttons{background:#ebebeb;}
.data_row header.bottom_shadow{border-bottom-color:#B6B6B6;}
.data_row hgroup{float:left;}
.data_row hgroup h3{font-size:14px;line-height:1.4;}
.data_row hgroup h4{color:#8e8e8e;font-weight:normal;}
.data_row aside{float:right;}
.data_row section{border-top:solid #7a7a7a 1px;font-size:11px;}
#wrapper .data_row section section{border-width:0;}
.data_row section.padded{padding:6px 20px;}
.data_row section.light{background:#fff;border:solid #c9c9c9 1px;border-width:0 1px 0 1px;}
.data_row section .content{float:left;margin:0;}
.data_row header aside select{margin-top:8px;}
.data_row header aside .crud_button{margin-top:5px;}
.data_point{text-align:center;text-shadow:white 1px 1px 0px;color:#878787;font-size:13px;padding-top:14px;}
.data_point strong{font-size:36px;}
.data_row section .data_point{width:96px;float:right;}
.light{color:#222;}
.intro{padding:1em;font-size:1.2em;}
.floater{margin:10px;background:white;box-shadow:2px 2px 5px #222222;-moz-box-shadow:2px 2px 5px #222222;-webkit-box-shadow:2px 2px 5px #222222;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow:hidden;}.floater h3{background-color:#ffffff;background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));padding:1em;margin-bottom:1em;color:#222;font-size:1em;}
.floater h4{padding:0.5em 1em;color:#555;}
.floater p{margin:0 1em 1em 1em;}
.floater p.note{background:#FFC3A8;font-size:1.2em;}
.floater pre{margin:-0.5em 0.5em 0.5em 0.5em;padding:0.5em;}
.floater code{color:#222;}
.floater ul{margin-left:3em;margin-bottom:1em;}
body.streams table.webhook_table{margin:0 1em 1em 1em;width:90%;}body.streams table.webhook_table .disabled td{color:#999;}
#wherenext h3{font-size:2.5em;}
.hidden{display:none;}
#curl_data{padding:1em;color:#222;}
body.debug #main header{padding-bottom:6px;}
body.debug #main article{padding:0 0 1em;background:#fff;}
body.debug #main #debug_console{border-collapse:collapse;width:100%;}body.debug #main #debug_console th{text-align:left;text-transform:uppercase;font-size:12px;font-weight:bold;color:#555;padding:12px 12px 4px;vertical-align:baseline;border-bottom:1px solid #aaa;}
body.debug #main #debug_console th#debug-expand,body.debug #main #debug_console td.debug_expand{width:36px;padding:12px 0px 4px;cursor:pointer;}
body.debug #main #debug_console th#debug-type,body.debug #main #debug_console td.debug_type{width:10em;}
body.debug #main #debug_console tr{font-size:14px;border-bottom:1px solid #ccc;}
body.debug #main #debug_console tr#debug_waiting td{padding:12px 12px 12px 48px;}
body.debug #main #debug_console tr.expanded{border-bottom:1px solid #fff;}
body.debug #main #debug_console tr.message_body{display:none;border-bottom:1px solid #fff;}
body.debug #main #debug_console tr.message_body.expanded{display:table-row;border-bottom:1px solid #ccc;}
body.debug #main #debug_console tr.socket_opened .debug_type,body.debug #main #debug_console tr.socket_closed .debug_type,body.debug #main #debug_console tr.socket_opened .debug_expand,body.debug #main #debug_console tr.socket_closed .debug_expand{background:#ccf7b4;}
body.debug #main #debug_console tr.channel_subscribed .debug_type,body.debug #main #debug_console tr.channel_unsubscribed .debug_type,body.debug #main #debug_console tr.channel_occupied .debug_type,body.debug #main #debug_console tr.channel_vacated .debug_type,body.debug #main #debug_console tr.channel_subscribed .debug_expand,body.debug #main #debug_console tr.channel_unsubscribed .debug_expand,body.debug #main #debug_console tr.channel_occupied .debug_expand,body.debug #main #debug_console tr.channel_vacated .debug_expand{background:#EEEEFF;}
body.debug #main #debug_console tr.error .debug_type,body.debug #main #debug_console tr.api_error .debug_type,body.debug #main #debug_console tr.client_error .debug_type,body.debug #main #debug_console tr.error .debug_expand,body.debug #main #debug_console tr.api_error .debug_expand,body.debug #main #debug_console tr.client_error .debug_expand{background:#f7b5b5;}
body.debug #main #debug_console tr.webhook_failed .debug_type,body.debug #main #debug_console tr.webhook_failed .debug_expand{background:#f76e62;}
body.debug #main #debug_console tr.webhook_sent .debug_type,body.debug #main #debug_console tr.webhook_sent .debug_expand{background:#ccf7b4;}
body.debug #main #debug_console tr td{padding:6px 12px 4px;vertical-align:baseline;}
body.debug #main #debug_console tr td.debug_expand{width:24px;padding:6px 0px 4px 12px;color:#555;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}
ul.collaborator_list{list-style:none;margin-left:0 !important;margin-top:10px;}
.collaborator_list li{background:#eee;padding:10px;margin:0 10px 10px 10px;font-size:1.1em;}
.add_collaborator_form{margin:0 10px 10px 10px;}
.add_collaborator_form input{padding:3px;font-size:1em;}
ul.gallery{list-style-type:none;padding:20px 20px 0 20px;}
ul.gallery li{float:left;}
ul.gallery li{margin:0 15px 20px 0;}
ul.gallery li:last-child{margin-right:0;}
.data_thumb{box-shadow:2px 2px 5px #222222;-moz-box-shadow:2px 2px 5px #222222;-webkit-box-shadow:2px 2px 5px #222222;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow:hidden;width:113px;background:#d1d1d1;}
.blank_box{-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow:hidden;border:dashed #767676 4px;}
.blank_box.big{width:216px;height:168px;}
.blank_box.app{background:url(/assets/buttons/add_more_apps.png) center center no-repeat;text-align:center;}
.blank_box.app a{display:inline-block;margin-top:100px;font-size:12px;padding:.1em 1.2em;color:#bbbcbc;text-shadow:1px 1px 1px black;}
.data_thumb:hover{box-shadow:2px 2px 10px #000000;-moz-box-shadow:2px 2px 10px #000000;-webkit-box-shadow:2px 2px 10px #000000;}
.data_thumb.big{width:237px;}
.data_thumb .graph{display:block;border:solid #949494 1px;border-width:1px 0;}
.data_thumb .graph img{margin:0;border-width:0;display:block;}
.data_thumb a{text-decoration:none;display:block;}
.data_thumb .title,.data_thumb .footer{display:block;background-color:#ffffff;background:-moz-linear-gradient(top, #ffffff, #d7d7d7);background:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));padding:4px;text-align:center;color:#474747;text-shadow:white 1px 1px 0px;}
.data_thumb.big .title,.data_thumb.big .footer{text-align:left;padding:8px;font-size:14px;font-weight:bold;}
.data_thumb.big .footer{font-size:12px;}
.data_thumb.big .title img{vertical-align:middle;display:block;}
.minigraph_h{position:relative;}
.minigraph_h h3{position:absolute;top:5px;left:5px;color:#999;font-size:0.9em;}
.mini_loader{background:#fff;height:120px;text-align:center;font-size:1.2em;color:silver;}
#main{margin-top:30px;}
#INotificationMessagesWrapper{margin-top:50px !important;}
h3 small{font-style:normal;}
.seperator{margin-top:5px;margin-bottom:5px;border-bottom:1px solid #dae1e8;-webkit-box-shadow:0px 1px white;-moz-box-shadow:0px 1px white;box-shadow:0px 1px white;color:#7f8c9a;}
.modal .controls{padding-left:15px;padding-right:15px;}
.login-wrapper{}
.latest-news-list{list-style-type:none;margin-left:0px;}.latest-news-list li a{display:block;padding-right:25px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#sandbox-alert{background:#FFD9D9;color:red;text-align:center;padding-top:6px;padding-bottom:6px;}
.flash-message{margin-top:10px;}
#sidebar-nav .usage,#sidebar-nav .name{padding-left:25px;}#sidebar-nav .usage h3,#sidebar-nav .name h3{margin-bottom:10px;}
#sidebar-nav .seperator{width:84%;}
#sidebar-nav .usage li{margin-bottom:4px;}
#sidebar-nav .usage h4{font-size:22px;margin-top:3px;}#sidebar-nav .usage h4.latest-news{margin-top:15px;margin-bottom:10px;}
#sidebar-nav .usage .muted.bigger{margin-top:10px;margin-bottom:0px;font-size:14px;}
#sidebar-nav .usage .progress{width:85%;height:15px;background-image:none;background-color:#dedede;margin-bottom:3px;}#sidebar-nav .usage .progress .bar{height:15px;}
#sidebar-nav .usage .upgrade-link{text-align:right;padding-right:30px;}
@media (max-width:1020px){.content.hidden-small-width{margin:0px;} #sidebar-nav .usage,#sidebar-nav .name{visibility:hidden;}}@media (max-width:979px){.navbar .brand{margin:0 0 0 -20px;}}@media (max-width:767px){.content{padding-left:10px;padding-right:10px;min-height:0px;} .page-header .btn-flat{float:right;margin-top:-10px;}}#navbar-menu-button,#navbar-app-button{top:12px;position:absolute;}
#navbar-app-button{right:60px;font-size:11px;padding-top:4px;padding-bottom:4px;}
#navbar-menu-button{right:10px;}
.page-header.margin-top{margin-top:40px;}
.page-header.smaller-space{margin-top:0px;margin-bottom:5px;}
.page-header .btn-flat{margin-left:12px;}.page-header .btn-flat:active,.page-header .btn-flat:focus{color:white;text-decoration:none;outline:none;}
.apps.row-fluid [class*="span"]:nth-child(2n+1){margin-left:0;}
.app-container{border:1px solid #eee;margin-bottom:20px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow:hidden;position:relative;height:95px;overflow:visible;box-sizing:none;}.app-container h4{margin-top:10px;margin-left:10px;margin-bottom:-30px;margin-right:10px;font-size:22px;float:left;}
.app-container .barchart{position:absolute;margin-bottom:0px;bottom:0px;z-index:1;}
.app-container .nav{position:absolute;bottom:0px;margin-bottom:0px;z-index:10;overflow:hidden;height:42px;}.app-container .nav.nav-pills>li{padding:4px;}
.app-container .nav.nav-pills>li>a:hover{background-color:#dedede;}
.app-container .settings-info{text-align:right;color:#999;position:absolute;right:10px;top:10px;z-index:10;}.app-container .settings-info p{margin-bottom:0px;}
.app-container .settings-info .icon{margin-left:5px;}.app-container .settings-info .icon.green{color:green;}
.app-container .settings-info .icon.red{color:red;}
.graphs{overflow:hidden;}.graphs h4{margin-bottom:20px;margin-top:20px;}
.help-block.muted{color:#999;}
.webhook_table thead{border-top:none;border-bottom:1px solid #ddd;}.webhook_table thead th{padding-bottom:5px;}
.explanation{margin-top:10px;color:#999;}
h4{margin-top:20px;margin-bottom:10px;}
#event_creator{margin-top:20px;}#event_creator #submit_button{float:left;margin-right:10px;}
#event_creator #ajax_message{line-height:32px;}#event_creator #ajax_message.error{color:red;}
#event_creator #ajax_message.success{color:green;}
.modal-body form{margin-bottom:0;}
.content-wrap form{margin-bottom:0px;}
#login-form .forgot-password{text-align:left;margin-top:-5px;margin-bottom:12px;display:block;}
#pricing{max-width:1000px;}
.plan{text-align:center;border:1px solid #ddd;background-color:#efefef;padding-top:15px;padding-bottom:15px;padding-left:0px;padding-right:0px;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;border-bottom-left-radius:5px;overflow:hidden;margin-top:20px;}.plan:first-child{font-size:14px;margin-top:0px;height:410px;padding-top:35px;padding-bottom:20px;padding-left:0px;padding-right:0px;}.plan:first-child h4{font-size:20px;}.plan:first-child h4.price{background-color:#4387C0;}
.plan:first-child p{margin-bottom:5px;}
.plan:first-child .feature-group{margin-bottom:20px;}
.plan:first-child h3{font-size:32px;}
.plan:first-child .tagline{font-size:15px;}
.plan .btn-flat{font-size:15px;padding-top:8px;padding-bottom:8px;padding-left:15px;padding-right:15px;margin-top:10px;text-shadow:none;font-weight:normal;border:none;}.plan .btn-flat.success{background-color:#16a085;}
.plan h4.price{font-weight:600;margin-bottom:10px;background-color:#2c3e50;color:white;padding:10px;}
.plan h3{font-weight:600;margin-bottom:15px;}
.plan p{margin-bottom:3px;}
.plan .seperator{width:80%;margin-left:10%;margin-bottom:10px;}
.plan .tagline{color:#16a085;margin-top:10px;font-size:13px;}
.plan .feature-group{margin-bottom:15px;color:#666;}.plan .feature-group strong{color:#2c3e50;}
#knowledge-base .accordion h1,#knowledge-base .accordion h2{font-weight:bold;font-size:16px;margin-top:15px;margin-bottom:3px;}
#knowledge-base .accordion h3{margin-top:5px;margin-bottom:3px;font-weight:bold;font-size:12px;}
#knowledge-base .description{margin-top:0px;margin-bottom:20px;font-size:15px;}
#knowledge-base h4{margin-top:25px;margin-bottom:5px;}
#knowledge-base ul{list-style-type:none;margin-left:0px;}
#knowledge-base form{margin-top:20px;}#knowledge-base form input{margin-bottom:0px;}
#knowledge-base form select{margin-bottom:5px;}
.promotion-email{width:600px !important;}.promotion-email p{font-size:15px;line-height:25px;}
.promotion-email .action{margin:0px -54px !important;}
