<h3><%= @title %></h3>

<p> 
  <%= simple_format @body %>
</p>

<a href="http://assets-manager.com/<%= edit_accept_invitation_path( @user.password_reset_token ) %>">Click here to accept the invitation</a>