<h3><%= @title %></h3>

<p> 
  <%= simple_format @body %>
</p>



<a href="http://assets-manager.com<%= edit_user_shared_catalog_accept_invitaion_to_catalog_path( @user.id, @catalog.id, @user.password_reset_token ) %>">Click here to accept the invitation</a>