<h3>You are invited to an account on DigiRAMP</h3>

<p> 
  <%=simple_format @message%>
</p>

<a href="http://assets-manager.com/<%= edit_accept_invitation_path( @user.password_reset_token ) %>">Click here to accept the invitation</a>