
<h3><%= @title %></h3>

<p> 
  <%= simple_format @body %>
</p>
<hr/>
<p>You are invited to an account on DigiRAMP, please sign in to your account and you will find a new account on your dashboard  </p>