- session[:return_url] = request.url

#wrapper
  .full-width-top
    == render 'shared/navigationbar', page: 'edit_profile' 
  

  #sidebar-wrapper
    ul class="sidebar-nav"
      == render 'users/shared/sidebar', selected: 'profile'
      
                        
        
      

  #page-content-wrapper
    .container-fluid 
      == render 'shared/breadcrumbs', breadcrumbs: { links: { 'Dashboard'.to_sym =>user_user_control_panel_index_path(@user),
                                                              'shop admin'.to_sym => user_user_shop_admin_index_path(@user)}, current: ''}
      
      
      
      == render  @category.gsub('-', '_').downcase, action: 'create'

  == render 'shared/site_footer' 
== render 'shared/init_wysiwyg5'




/- session[:return_url] = request.url
/
/#wrapper
/  .full-width-top
/    == render 'shared/navigationbar', page: 'edit_profile' 
/  
/
/  #sidebar-wrapper
/    ul class="sidebar-nav"
/      == render 'users/shared/sidebar', selected: 'profile'
/      
/                        
/        
/      
/
/  #page-content-wrapper
/    .container-fluid 
/      == render 'shared/breadcrumbs', breadcrumbs: { links: { 'Dashboard'.to_sym =>user_user_control_panel_index_path(@user),
/                                                              'shop admin'.to_sym => user_user_shop_admin_index_path(@user)}, current: ''}
/      .row
/        .col-sm-8
/          h3 
/            'New #{@category.gsub('-', ' ').capitalize}
/        .col-sm-4
/          .pull-right.pull-down-10
/            => link_to  user_user_shop_admin_index_path(@user) do
/                .btn.btn-default
/                  i.fa.fa-chevron-left
/                  '&nbsp;Back
/            
/            
/      .sexy_line
/      .digi-box  
/        = simple_form_for [:user, @user, @shop_product], :url => url_for(:action => 'create', :controller => 'products') do |f|
/          == render  @category.gsub('-', '_'), f: f
/                                                        
/
/      
/     
/            
/
/  == render 'shared/site_footer' 
/== render 'shared/init_wysiwyg5'




