body{font-family:"Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;margin:0}
::-moz-selection{background-color:#adcdea;color:#333;text-shadow:none}
::selection{background-color:#adcdea;color:#333;text-shadow:none}

#errorpage #header{border-bottom:none}
#errorpage #parallax_wrapper{width:1920px;min-height:100%;position:relative;margin-left:-960px}
#errorpage #content{width:590px;margin:0 auto;color:#fff;text-align:center;z-index:2;position:relative;z-index:9999}
#errorpage #content .button{margin-top:35px;margin-right:10px}
#errorpage #content h1{font-color:#fff;font-family:"MuseoSans-700",Helvetica,Arial,Verdana,sans-serif;font-size:55px;font-weight:normal;line-height:65px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
#errorpage #content p{font-family:HelveticaNeue,Arial,Verdana,sans-serif;font-size:18px;font-weight:normal;width:512px;margin:0 auto;line-height:26px;text-shadow:0px 1px 3px rgba(0,0,0,0.45)}
#errorpage.error404{background:url(../images/bg.jpg) 0 0 transparent}
#errorpage.error404 #content{width:590px;}
#errorpage.error404 h1{margin:0 auto;padding:90px 0 20px}
#errorpage.error404 p{width:440px}
#errorpage.error404 p a{color:#fffbe5;font-weight:bold;text-decoration:underline}
#errorpage.error404 .scene{position:absolute;bottom:-100px;display:block;width:1920px}
#errorpage.error404 .scene.scene_1{height:336px;background:url(../images/scene_1.png) no-repeat left top;pozition:relative; z-index:9999;}
#errorpage.error404 .scene.scene_2{height:336px;background:url(../images/scene_2.png) no-repeat left top;pozition:relative; z-index:999;}
#errorpage.error404 .scene.scene_3{height:336px;background:url(../images/scene_3.png) no-repeat left top;pozition:relative; z-index:99;}
#errorpage.error404 .scene.scene_4{height:336px;background:url(../images/scene_4.png) no-repeat left top;pozition:relative; z-index:9;}
#main-content{position:relative;margin-bottom:-100px}
.duck-animation{background-position:-1000px 30%;background-repeat:no-repeat;height:100px}

#errorpage.error404 #footer{background:transparent;height:250px;margin-top:-250px}
#errorpage.error404 #footer .container{margin-top:210px;color:#fff}
#errorpage.error404 #footer .container a{color:#fff}
#errorpage #footer{background-image:none;border:none;box-shadow:none;z-index:9999;}
#errorpage #footer .container{font-size:12px;text-shadow:none;}
#errorpage #footer .container a{font-weight:normal;text-decoration:none}
#errorpage #wrapper{padding:0;overflow:hidden;position:relative;}
#email input {	border: 1px solid #666;}