- if current_account_user.create_common_work_ipi
  .pull-right
    =link_to 'New IP', new_account_account_common_work_common_work_ipi_path(@account, @common_work),\
              class: 'btn btn-primary btn-lg'