h4 Info
.digi-box
  .oppoptunity-info

    'Alternative titles:
    .pull-right
      = @common_work.alternative_titles
    .sexy_line
    
    'ISWC Code:
    .pull-right
      = @common_work.iswc_code
    .sexy_line
    
    /'Surveyed work:
    /.pull-right
    /  = @common_work.surveyed_work
    /.sexy_line
    
    'Last distribution:
    .pull-right
      = @common_work.last_distribution
    .sexy_line
    
    /'Work status:
    /.pull-right
    /  = @common_work.work_status
    /.sexy_line
    
    /'ASCAP Award winner:
    /.pull-right
    /  = @common_work.ascap_award_winner
    /.sexy_line
    
    'Work type:
    .pull-right
      = @common_work.work_type
    .sexy_line
    
    /'BMI Work id:
    /.pull-right
    /  = @common_work.bmi_work_id
    /.sexy_line
    /
    /'BMI Catalog:
    /.pull-right
    /  = @common_work.bmi_catalog
    /.sexy_line
    
    'Registration origin:
    .pull-right
      = @common_work.registration_origin
    .sexy_line
    
    'Registration date:
    .pull-right
      = @common_work.registration_date
    .sexy_line
    
    /'PRO Work id:
    /.pull-right
    /  = @common_work.pro_work_id
    /.sexy_line
    /
    /'PRO Catalog:
    /.pull-right
    /  = @common_work.pro_catalog
    /.sexy_line
    
    /'Submitter work id:
    /.pull-right
    /  = @common_work.submitter_work_id

    