
/div class="playlist_id" id="#{@playlist.id}"

#wrap
  div class="#{'profile' if account_owner?}"
    .full-width-top
      == render 'admin/shared/navbar', page: 'account' 
  /-cache([ @account.id, @account.works_uuid, params]) do  
  .do   
    .container
      
      
      /==render 'admin/shared/messages'
      == render 'shared/breadcrumbs', breadcrumbs: { links: {@account.title.to_sym => account_path(@account),
                                                             dashboard: account_account_path(@account),\
                                                             playlists: account_account_playlists_path(@account) \
                                                             }, current:  @playlist.title}
      
      == render 'shared/page_title_text', locals: {title: @playlist.title, body: '', insert: 'edit'}
      - blog = Blog.cached_find('PLAYLISTS')
      .row
        -if current_account_user.update_playlist?
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "KEYS" , blog ), \
                                                link: account_account_playlist_playlist_keys_path(@account, @playlist), \
                                                css_class: 'btn btn-default', \
                                                icon: 'fa fa-key' \
                                              }
            
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "TRACKS" , blog ), \
                                                link: account_account_playlist_playlist_tracks_path(@account, @playlist), \
                                                css_class: 'btn btn-success', \
                                                icon: 'fa fa-plus-circle' \
                                              }
            
            
            
          
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "WIDGETS" , blog ), \
                                                link: account_account_recordings_path(@account), \
                                                css_class: 'btn btn-primary', \
                                                icon: 'fa fa-share-alt', \
                                                id: 'widgets' \
                                              }
      
   
    == render 'shared/back', locals: {link: account_account_playlists_path(@account)}      
-cache (['footer', Admin.cached_find(1).version]) do      
  =render 'shared/footer'


