.crowd_style

  position: relative
  color: #CFCFCF
  a
    color: #D27506
  h1, .h1, h2, .h2, h3, .h3 , h4, .h4, h5, .h5
    color: #CFCFCF


  .sexy_line 
    background: #888
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#757575), to(#757575), color-stop(50%, #888))
  .style-content
    color: #000

    
  
  .digi-box
    background-color: #FFF
    background-color: rgba(74,74,74,0.8)
    margin-bottom: 10px


  .cms-box
    background-color: rgba(74,74,74,0.8)
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand 
    //margin-left: -15px
    //margin-top: -6px
    
  #digiWhams 
    .digiwham .top-pane .top-right .waveform 
      background-color: #000
  
    -moz-box-shadow: #000000 1px 2px 1px
    -webkit-box-shadow: #000000 1px 2px 1px
    box-shadow: #000000 1px 2px 1px
    background-color: #454545
    background-color:  rgba(74,74,74,0.8)
    border-top: solid 1px #5A5A5A
    border-left: solid 1px #5A5A5A
    
    .player-bottom 
      background-color: #5F5F5F
      //border-top: 1px solid #808080
  .following .following-container 
    background-color: rgba(76, 76, 76, 0.9)
   
    
  .form-control 
    color: #E9E9E9
    background-color: #737373
    border: 1px solid #363636

  
  .comments-content
    background-color: rgba(62, 62, 62, 0.8)
    

  .label-default 
    background-color: #C75943
    
