#wrapper
  .full-width-top
    == render 'shared/navigationbar', page: 'admin' 
  
  .pro-account
    #sidebar-wrapper
      ul class="sidebar-nav"
        == render 'admin/shared/sidebar', selected: 'content'

  
  #page-content-wrapper
    .container-fluid
      == render 'shared/breadcrumbs', breadcrumbs: { links: { "admin".to_sym => admin_index_path, \
                                                              'engine room'.to_sym => admin_engine_room_index_path, \
                                                              'pro affiliations'.to_sym => admin_pro_affiliations_path, \
                                                    }, current: ''}
      .row-sm-12
        h2 Edit pro affiliation
      .sexy_line
      = render 'form'

            
          

  == render 'shared/site_footer'    













/#wrap
/  .admin
/    .full-width-top
/      == render 'admin/shared/navbar', page: 'admin'
/
/               
/  .container
/    /==render 'admin/shared/messages'
/    -cache ([ request.url, Admin.cached_find(1).pro_affilications_uuid  ]) do
/      == render 'shared/breadcrumbs', breadcrumbs: { links: { "admin".to_sym => admin_index_path, \
/                                                              'engine room'.to_sym => admin_engine_room_index_path, \
/                                                              'pro affiliations'.to_sym => admin_pro_affiliations_path, \
/                                                    }, current: 'Edit'}
/                                                    
/                                                    
/                                                    
/                                                    
/                                                    
/                                                    
/      /== render 'shared/breadcrumbs', breadcrumbs: { links: { @account.title.to_sym => account_path(@account), \
/      /                                                        assets: account_assets_path(@account), \
/      /                                                        recordings: account_account_recordings_path(@account), \
/      /                                                        @recording.title.to_sym => account_common_work_recording_path(@account, @recording.common_work, @recording), \
/      /                                                        }, current: ''}
/      /
/      
/      == render 'shared/page_title', locals: {blog: Blog.cached_find('Admin'), blog_post: 'Pro Affiliations'} 
/      .row
/        .col-sm-3
/        .col-sm-6
/          .panel.panel-primary
/            .panel-heading
/              'Pro Affiliations
/            .panel-body
/              = render 'form'
/        .col-sm-3
/                  
/              
/
/
/  
/-cache (['footer', Admin.cached_find(1).version]) do      
/  =render 'shared/footer'
  





