@import "row_machine"
@import "colors"
.account-account
  //align: center
  .account-top  
    .account-logo  
      width: 30% 
      max-width: 250px
      float: left
      padding-right: 10px
      img
        width: 100%
        
        height: auto
      
    .account-info  
      width: 70% 
      float: left
      
      
      
  .account-account-badges
    width: 100%
    .account-account-badge-container:hover
      background-color: #F8F8F8
    .account-account-badge-container
      @include rowMachine(6, 0.5%)
      float: left
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3)
      box-shadow: 0 1px 3px rgba(0,0,0,0.3)
      background-color: #FFF
      margin-bottom: 5px !important
      height: 200px

      @media (max-width: 1473px) 
        @include rowMachine(5, 0.5%)

      @media (max-width: 1253px) 
        @include rowMachine(4, 0.5%)
        
      @media (max-width: 1133px) 
        @include rowMachine(3, 0.75%)
        
      @media (max-width: 963px) 
        @include rowMachine(2, 1%)

      @media (max-width: 768px) 
        @include rowMachine(2, 1.5%)

      @media (max-width: 544px) 
        @include rowMachine(1, 0.0%)

      a
        color: #888
      .account-account-badge 
        .title
          min-height: 40px
          //@include panel-title-green
          padding: 10px
          h4
            color: #fff
            margin: 0px

        .body
          position: relative
          padding: 10px
          min-height: 100px
          
        .opportunity-title
          background-color: $opportunity-color
        
        .users-title
          background-color: $account-color
        
        .recordings-title
          background-color: $recording-color
        
        .common-works-title
          background-color: $common-work-color
        
        .crm-title
          background-color: $primary-color
        
        .admin-title
          background-color: $admin-color
        
        .account-title
          background-color: $account-color