a:hover,.highlight , .feature-icon:hover, nav ul li.active a, .divider-area .icon a:hover
{color:#33bee5;}

.planContainer .price p.bestPlanPrice, .planContainer .button a.bestPlanButton , .btn-default, .highlightbg
{background-color:#33bee5;}

.feature-icon:hover, .planContainer .button a.bestPlanButton
 {border:1px solid #33bee5;}
 
.btn-primary {color: #fff;background-color: #76719a;border:1px solid #76719a;}
.btn-primary:hover {background-color:#333;color:#fff; border: 1px solid #333;}
 
 