a:hover,.highlight , .feature-icon:hover, nav ul li.active a, .divider-area .icon a:hover
{color:#f0b70c;}

.planContainer .price p.bestPlanPrice, .planContainer .button a.bestPlanButton , .btn-default, .highlightbg
{background-color:#f0b70c;}

.feature-icon:hover, .planContainer .button a.bestPlanButton
 {border:1px solid #f0b70c;}

 
 