a:hover,.highlight , .feature-icon:hover, nav ul li.active a, .divider-area .icon a:hover
{color:#F86D18;}

.planContainer .price p.bestPlanPrice, .planContainer .button a.bestPlanButton , .btn-default, .highlightbg
{background-color:#F86D18;}

.feature-icon:hover, .planContainer .button a.bestPlanButton
 {border:1px solid #F86D18;}

 
 