a:hover,.highlight , .feature-icon:hover, nav ul li.active a, .divider-area .icon a:hover
{color:#e44884;}

.planContainer .price p.bestPlanPrice, .planContainer .button a.bestPlanButton , .btn-default, .highlightbg
{background-color:#e44884;}

.feature-icon:hover, .planContainer .button a.bestPlanButton
 {border:1px solid #e44884;}

 
 