a:hover,.highlight , .feature-icon:hover, nav ul li.active a, .divider-area .icon a:hover
{color:#44cfc8;}

.planContainer .price p.bestPlanPrice, .planContainer .button a.bestPlanButton , .btn-default, .highlightbg
{background-color:#44cfc8;}

.feature-icon:hover, .planContainer .button a.bestPlanButton
 {border:1px solid #44cfc8;}
 
.btn-primary {color: #fff;background-color: #f86b16;border:1px solid #f86b16;}
.btn-primary:hover {background-color:#333;color:#fff; border: 1px solid #333;}
 
 