/* MAIN STYLES */
body {
	font:13px/26px 'Open Sans',sans-serif;
	font-weight:normal;
	color:#777;
	 -webkit-font-smoothing:antialiased;
}
h1 {
	font-size:2.5em;
	line-height:46px;
	font-weight:300;
	margin-bottom:20px;
}
h1,h2,h3,h4,h5,h6 {
	color:#000000;
}
ul {
	-moz-padding-start:0px;
	-webkit-padding-start:0px;
	-khtml-padding-start:0px;
	-o-padding-start:0px;
	padding-start:0px;
	padding: 0px;
}
a,a:hover {
	text-decoration:none;
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	/* ...and now for the proper property */
	transition:.3s;
}
a:hover,.highlight {
	color:#fe4918;
}
.max80 {
	max-width:80%;
	margin:0px auto;
}
.pxauto {margin:0px auto;}
.margbottom50 {
	margin-bottom:50px;
}
.unstyle {
	list-style:none;
}
.uppercase {
	text-transform:uppercase;
}
.btn {
	border-radius:3px;
}
.btn-simple {
	color:#ffffff;
	background-color:transparent;
	border:1px solid rgba(255,255,255,0.4);
}
.btn-simple.whitebg {
	background-color:#ffffff;
	color:#444;
	border:0;
}
.btn-simple:hover {
	background-color:#444;
	color:#fff;
}
.btn-default {
	background-color:#fe4918;
	color:#fff;
	border:0;
}
.btn-default:hover {
	background-color:#444;
	color:#fff;
	border:0;
}
.btn-lg {
	font-size:20px;
	padding:20px 60px;
}
.main_h {
	position:fixed;
	top:0px;
	max-height:70px;
	z-index:999;
	width:100%;
	padding-top:17px;
	background:none;
	overflow:hidden;
	-webkit-transition:all 0.3s;
	transition:all 0.3s;
	opacity:0;
	top:-100px;
	padding-bottom:6px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background-color:none;
}

@media only screen and (max-width:766px) {
	.main_h {
			padding-top:25px;
	}
}
.open-nav {
	max-height:400px !important;
}
.open-nav .mobile-toggle {
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}
.sticky {
	background-color:rgba(255,255,255,0.97);
	opacity:1;
	top:0px;
	border-bottom:1px solid #eee;
}
.logo {
	width:50px;
	font-size:25px;
	color:#8f8f8f;
	text-transform:uppercase;
	float:left;
	display:block;
	margin-top:0;
	line-height:1;
	margin-bottom:10px;
	letter-spacing:3px;
}
@media only screen and (max-width:766px) {
	.logo {
			float:none;
	}
}
nav {
	float:right;
}
@media only screen and (max-width:766px) {
	nav {
			width:100%;
	}
}
nav ul {
	list-style:none;
	overflow:hidden;
	text-align:right;
	float:right;
}
@media only screen and (max-width:766px) {
	nav ul {
			padding-top:10px;
			margin-bottom:22px;
			float:left;
			text-align:center;
			width:100%;
	}
}
nav ul li {
	display:inline-block;
	margin-left:30px;
	line-height:1.5;
}
@media only screen and (max-width:766px) {
	nav ul li {
			width:100%;
			padding:7px 0;
			margin:0;
	}
}
nav ul a {
	color:#333;
	text-transform:uppercase;
	font-size:13px;
	font-weight:600;
}
nav ul li.active a {
	color:#fe4918;
}
.nav>li {
	display:inline-block;
}
.nav>li>a {
	padding:0px;
}
.nav>li>a:hover {
	background-color:transparent;
}
.mobile-toggle {
	display:none;
	cursor:pointer;
	font-size:20px;
	position:absolute;
	right:22px;
	top:20px;
	width:30px;
	-webkit-transition:all 200ms ease-in;
	-moz-transition:all 200ms ease-in;
	transition:all 200ms ease-in;
}
@media only screen and (max-width:766px) {
	.mobile-toggle {
			display:block;
	}
}
@media only screen and (max-width:991px) {
	nav ul li {
	margin-left: 15px;
	}
}
@media only screen and (max-width:800px) {
	.logo {
	margin-left: 20px;
	}
	.wow {
    visibility: visible !important;
    -webkit-animation: none !important;
     -moz-animation: none !important;
       -o-animation: none !important;
      -ms-animation: none !important;
          animation: none !important;
	}
}
.mobile-toggle span {
	width:30px;
	height:4px;
	margin-bottom:6px;
	border-radius:1000px;
	background:#8f8f8f;
	display: block;
}
/* SECTION - GENERAL */
section {
	height:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	z-index:0;
	background-position:top center;
	padding:60px 0 60px;
}
section .container {position:relative;}

.wrapsection {
	padding: 120px 0;
	position: relative;
	margin: -60px 0;
}

.overlay {
	opacity:0.87;
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.highlightbg {
	background-color:#fe4918;
}
.graybg {
	background-color:#f6f6f6;
}
.bluebg {
	background-color:#428bca;
}
.whitetext,.whitetext h1,.whitetext h2,.whitetext h3,.whitetext h4,.whitetext h5,.whitetext h5,.whitetext .required {
	color:#fff;
}
.whitetext #contact input,.whitetext #contact select,.whitetext #contact textarea {
	border:0px;
}
.sectionhead {
	text-align:center;
	margin-bottom:30px;
}
.sectionhead .lead {
	text-transform:uppercase;
	letter-spacing:1px;
	font-weight:100;
	font-size:14px;
	line-height:24px;
}
.sectionhead h1 {
	margin-top:0px;
}
.divider-area {
	width:100%;
	height:1px;
	position:relative;
	background-color:#f0f0f0;
	border:0px;
	margin:0px auto;
}
.divider-area .icon {
	display:inline-block;
	left:50%;
	margin-top:-30px;
	background:#fff;
	position:absolute;
	height:60px;
	width:60px;
	border-radius:50%;
	text-align:center;
	color:#f0f0f0;
	font-size:30px;
	border:1px solid #f0f0f0;
	line-height:60px;
	margin-left:-30px;
}
.divider-area .icon a {
	color:#ccc;
}
.divider-area .icon a:hover {
	color: #fe4918;
}


/* SECTION - BACKGROUNDS */
.download {
	/*background-image:url(../img/dummyimage.jpg);*/
  background-image: image-url('dummyimage.jpg');
}
.testimonials {
	/*background-image:url(../img/dummyimage.jpg);*/
  background-image: image-url('dummyimage.jpg');
  
}
.contact-page {
	/*background-image:url(../img/dummyimage.jpg);*/
  background-image: image-url('dummyimage.jpg');
}


/* SECTION - HOME */
section.homepage {
	/*background-image:url(../img/dummyimage.jpg);*/
  background-image: image-url('dummyimage.jpg');
	background-position:top center;
	background-size:cover;
	position:relative;
	height:auto;
	overflow:hidden;
	padding:90px 0;
	background-attachment:fixed;
}
.section-overlay-home {
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}

.homepage .btn-primary {
	margin-right:30px;
}
@media only screen and (max-width:991px) {
	.homepage .btn-primary {
	margin-right:0px;
	margin-bottom:10px;
	}
}
@media only screen and (max-width:767px) {
	.homepage .btn-primary {	
	margin-bottom:0px;
	}
	.homepage .text-right, .homepage .small-text  {text-align:center !important;}
	
}
@media only screen and (max-width:541px) {
	.homepage .btn-primary {	
	margin-bottom:10px;
	}
	
}
.homepage .small-text {
	font-size:16px;
	line-height:38px;
	color:rgba(255,255,255,0.6);
	font-weight:300;
	margin:30px 0;
	text-align:right;
}
.homepage ul.icos {
	margin-top:30px;
}
.homepage ul.icos li {
	margin-right:30px;
	display:inline;
}
.homepage ul.icos i {
	font-size:32px;
	color:rgba(255,255,255,0.4);
	-webkit-transition:0.25s;
	-moz-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}
.rotate-description {
	font-size:36px;
	font-weight:300;
	color:#fff;
	line-height:58px;
	transition:all 0.5s ease;
}
.introarrow {
	position:absolute;
	height:80px;
	width:80px;
	bottom:-40px;
	left:50%;
	border-radius:40px;
	background:#fff;
	color:#444;
	margin-left:-40px;
	font-size:30px;
	line-height:1;
	text-align:center;
}
.introarrow i {
	display:block;
	margin: 15px 0 0 0;
}
/* SECTION - FEATURES */
.feature-icon {
	font-size:40px;
	line-height:100px;
	border:1px solid #aaa;
	height:100px;
	width:100px;
	-webkit-transition:all 0.6s;
	-moz-transition:all 0.6s;
	-o-transition:all 0.6s;
	transition:all 0.6s;
	display:inline-block;
	text-align:center;
	margin-bottom:20px;
	border-radius:50%;
	color:#aaa;
}
.feature-icon:hover {
	color:#fe4918;
	border-radius:0;
	border:1px solid #fe4918;
}
.feature-item p.description {
	color:#aaa;
	font-weight:300;
	margin-bottom:0;
	text-transform:uppercase;
}
.sep {
	border-bottom:1px solid;
	display:inline-block;
	width:30px;
	margin:0px auto;
	margin-bottom: 3px;
}

/* SECTION - DOWNLOAD */
ul.iconlist i{background-color: #fff;
height: 40px;
width: 40px;
line-height: 40px;
border-radius: 50%;
display: inline-block;
text-align: center;
margin-right: 15px;
color: #444;
}

/* SECTION - PRICING */
#plans,#plans ul,#plans ul li {
	margin:0;
	padding:0;
	list-style:none;
}
#pricePlans:after {
	content:'';
	display:table;
	clear:both;
}
#pricePlans {
	zoom:1;
}
#pricePlans {
		margin:0 auto;
}
#pricePlans #plans .plan {
	background:#fff;
	float:left;
	width:100%;
	text-align:center;
	border-radius:5px;
	margin:0 0 20px 0;
	border:1px solid #ddd;
}
.planContainer .title h2 {
	font-size:2.125em;
	font-weight:300;
	color:#333;
	margin:0;
	padding:.6em 0;
}
.planContainer .title h2.bestPlanTitle {
	background:#333;
	color:#fff;
	border-radius:5px 5px 0 0;
}
.planContainer .price p {
	background:#333;
	color:#fff;
	font-size:1.2em;
	font-weight:300;
	height:3.6em;
	line-height:3.6em;
	margin:0 0 1em;
}
.planContainer .price p.bestPlanPrice {
	background-color:#fe4918;
}
.planContainer .price p span {
	color:#ccc;
}
.planContainer .options {
	margin-top:10em;
}
.planContainer .options li {
	font-weight:700;
	color:#364762;
	line-height:2.5;
}
.planContainer .options li span {
	font-weight:400;
	color:#979797;
}
.planContainer .button a {
	text-transform:uppercase;
	text-decoration:none;
	color:#333;
	font-weight:600;
	letter-spacing:3px;
	line-height:3.6em;
	border:1px solid #ccc;
	display:inline-block;
	width:80%;
	height:3.6em;
	border-radius:3px;
	margin:1.5em 0 1.8em;
}
.planContainer .button a.bestPlanButton {
	color:#fff;
	background-color:#fe4918;
	border:1px solid #fe4918;
}
@media screen and (min-width:481px) and (max-width:768px) {
	#pricePlans #plans .plan {
		width:49%;
		margin:0 2% 20px 0;
	}
	#pricePlans #plans>li:nth-child(2n) {
		margin-right:0;
	}
}
@media screen and (min-width:769px) and (max-width:1024px) {
	#pricePlans #plans .plan {
		width:49%;
		margin:0 2% 20px 0;
	}
	#pricePlans #plans>li:nth-child(2n) {
		margin-right:0;
	}
}
@media screen and (min-width:1025px) {
	#pricePlans {
		margin:0px auto;
	}
	#pricePlans #plans .plan {
		width:24%;
		margin:0 1.33% 0px 0;
	}
	#pricePlans #plans>li:last-child {
		margin-right:0;
	}
	.planContainer .button a:hover {
		background:#333;
		color:#fff;
		border: 1px solid #333;
	}
}
/* SECTION - TESTIMONIALS */
#wowtestim .item img.avatar {
	width:120px;
	display:block;
	border-radius:50%;
	margin:0px auto;
	margin-bottom:10px;
	background-color:rgba(255,255,255,1);
	padding:0px;
}
.testimonials .client-msg {
	max-width:60%;
	margin:0px auto;
	font-weight:300;
	font-size:120%;
}
.testimonials .client-pos {
	margin:5px auto 15px;
	padding:0;
	font-size:13px;
}
.testimonials .client-name {
	padding:0;
	font-size:22px;
	margin: 0px;
}
/* SECTION - CONTACT */
#contact label {
	text-transform:uppercase;
	font-weight:300;
}
#contact input,#contact select,#contact textarea {	
	width:100%;
		border:1px solid #DDD;
		border-radius:3px;
}
#contact input,#contact select {
	height:40px;
	margin-bottom:0px;
}
#contact input#submit {
	width:auto;
	margin-top:20px;
	background-color:#333;
	color:#fff;
	padding:0px 30px;
	text-transform:uppercase;
	font-weight:300;
	border:0px;
}
#contact textarea {
	height:200px;
}
.required {
	color:#e9266d
}
#success,#error {
	display:none
}
#success span,#error span {
	display:block;
		width:100%;
	background:#fff;
		margin-top:10px;
}
#success span p,#error span p {
	margin-top:6em
}
#success span p {
	padding:20px;
	font-weight:700;
	text-transform:uppercase;
	margin-top:20px !Important;
}
#error span p {
	color:#c0392b;
}
.error {
	text-transform:none;
	font-style:italic;
	display: inline-block;
}
button, input, optgroup, select, textarea {color:#888; padding:0px 20px;}
/* SECTION - FOOTER */
.footerarrow {
	position:absolute;
	height:80px;
	width:80px;
	top:-40px;
	left:50%;
	border-radius:40px;
	background:#222;
	color:#fff;
	margin-left:-40px;
	font-size:30px;
	line-height:1;
	text-align:center;
}
.footerarrow i {
	display:block;
	margin:12px 0 0 0;
}
.footerarrow:hover {
	color:#eee;
}
.footer {
	background: #222;
	padding:60px 0 45px;
	position:relative;
}
ul.social-icons li {
	display:inline-block;
	float:none;
	padding:17px;
	width:10px;
	height:10px;
	position:relative;
	background:#555;
	margin-right:5px;
	border-radius:50%;
}
ul.social-icons li i {
	position:absolute;
	font-size:15px;
	width:40px;
	height:40px;
	text-align:center;
	line-height:40px;
	left:50%;
	top:50%;
	margin-left:-20px;
	margin-top:-20px;
}
ul.social-icons li a {
	color:#fff;
}
ul.social-icons li a i {
	-webkit-transition-duration:0.8s;
	-moz-transition-duration:0.8s;
	-o-transition-duration:0.8s;
	transition-duration:0.8s;
	-webkit-transition-property:-webkit-transform;
	-moz-transition-property:-moz-transform;
	-o-transition-property:-o-transform;
	transition-property:transform;
	overflow:hidden;
}
ul.social-icons li a i:hover {
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
}
ul.social-icons li a:hover {
	text-decoration:none;
	color: #fff;
}