@import "compass"
@import "playback_button"
@import "compass/css3/opacity"
//@import "compass/typography/text/ellipsis"
//
//$main-color: #eee
//$text-color: #A3A3A3
//$line-color: #CCC
//
$digiwham-button-size:           46px
$digiwham-hight-small:           100px
$digiwham-waveform-hight:         35px
$digiwham-button-border:          2px
$digiwham-info:                  50px

//
@mixin truncate 
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

//// Medium devices (desktops, 992px and up) 
//@media (min-width: 992px)
//
//// Large devices (large desktops, 1200px and up) 
//@media (min-width: 1200px)
#digiWhams
  //margin:  6px
  //padding: 6px
  
  hr 
    margin-top: 0px
    margin-bottom: 10px
    border-top: 1px solid #DDD
  
  .widget-headder
    margin-bottom: 10px
    .widget-headder-image
      position: relative
      width: 100%
      img
        width: 100%
  
      .widget-title
        position: absolute
        width: 100%
        position: absolute
        top: 10px
        color: #fff
        margin-left: 5%
        h3                
          margin-top:     5px
          margin-bottom:  6px
        
  
  .digiwham
    //background-color: #DDD
    margin-bottom:          4px
    padding-bottom:         4px
    
    .top-pane
      //background-color: #000
      height:             $digiwham-hight-small
      width: 100%
      .cover-art 
        position: relative
        width:              $digiwham-hight-small
        height:             $digiwham-hight-small
        float: left
        img
          width: 100%
    
          
      .top-right 
        left: 0px
        //background-color:   #555
        //width: 100%px
        height:             $digiwham-hight-small
        margin-left:        $digiwham-hight-small + 4
        .play-button-pane 
          position: relative
          width:              $digiwham-button-size
          height:             $digiwham-info
          float: left
          @include              playback-button
          .loading, .pause
            display:              none
          
        .info 
          left: 0px
          //background-color:   #555
          //width: 100%
          height:             $digiwham-hight-small - 50px
          margin-left:        $digiwham-button-size
          
          .title
            width: 100%
            height:       $digiwham-info
            float: left
            padding: 4px
            h3
              font-size:          15px
              margin-top:         0px
              margin-bottom:      4px
              @include            truncate
              line-height:        120%
              color:              #999
            p
              font-size: 12px
              color:              #555
              font-weight: bold
          
          .description
            width: 60%
            display: none
            //max-height:             $digiwham-hight-small - 40
            float: left
            padding: 4px
            text-overflow: ellipsis
            word-wrap: break-word
            overflow: hidden
            height:       $digiwham-info
            line-height:  15px
            font-size:    13px
        .track-duration
          font-size:    11px
          height:       15px
          .start-time
            float:      left
            margin-left: 4px
          .end-time
            float:      right
            margin-right: 4px
        .waveform
          //background-color: rgba(0,0,0,0.25)
          height:             $digiwham-waveform-hight
          img
            width:            100%
            height:           $digiwham-waveform-hight

        .playhead
          display:            block
          position:           relative
          float:              top
    
          margin-top:         -$digiwham-waveform-hight
          width:              1px
          height:             $digiwham-waveform-hight
          background-color:   #f00
        .loadbar  
          width:              0%
          height:              2px
          background-color:   #383
          display:            none
    
        
        .playhead-time
          //display:            none
          position:           absolute
          float:              top
          text-align:         center
          width:              47px
          font-size:          10px
          margin-top:         -53px
          color:              #469E28
          background-color:   #333
          padding:            1px
      



        //.waveform
.simple-show
  //border: 1px solid #cdcdcd
  margin-top: 4px
  margin-bottom: 4px
  #digiWhams 
    .digiwham 
      .top-pane 
        .top-right 
          margin-left: 0px
          .info
            .title
              padding: 4px
              width: 100%
              height: 48px
              display: inline-block
              h3
                font-size:          18px
                margin-top:         0px
                margin-bottom:      4px
                @include            truncate
                line-height:        120%
                color:              #666
            .comment
              padding:          4px
              width:            50%
              height:           48px
              display:          inline-block
              //@include           truncate
              text-overflow: ellipsis
              word-wrap: break-word
              overflow: hidden
             
 
            
            

//--------------------------------------------------
// default values  
#digiWhams .digiwham 
  height: 50px
  .top-pane 
    .cover-art 
      position: relative
      width:  48px
      height: 48px
    .top-right
      margin-left: 52px
      height: 50px
      .playhead 
        height: 0px
      .playhead-time
        display: none
      .track-duration
        display: none
      .waveform 
        display: none
    //.top-right
    //  margin-left: 52px

//--------------------------------------------------
// responsive
// Small devices (tablets, 768px and up) 
@media (min-width: 768px)
  #digiWhams .digiwham 
    height: 104px
    .top-pane 
      .cover-art 
        position: relative
        width:  100px
        height: 100px
      .top-right
        margin-left: 104px
        height: 100px
        .playhead 
          height: 35px
        .info

          .title
            width: 40%
          .description
            width: 60%
            display: block
        .playhead-time
          display: block
        .track-duration
          display: block
        .waveform 
          display: block
        .loadbar  
          display:            block

  
// Medium devices (desktops, 992px and up) 
@media (min-width: 992px)
  #digiWhams .digiwham 
    .top-pane 
      .top-right
        .info
          .title
            width: 30%
          .description
            width: 70%
            max-width: 510px
  

// Large devices (large desktops, 1200px and up) 
@media (min-width: 1200px)
  



//#digiWhams .digiwham .top-pane .top-right {
//left: 0px;
//width: 100% px;
//height: 100px;
//margin-left: 104px;
//}