style type="text/css"
  '#digiWhams .digiwham:hover{ background-color: #{@widget.widget_theme.hover_color}; }
  '#digiWhams .digiwham .right-pane .waveform img { background-color: #{@widget.widget_theme.waveform_back}; }
  '#digiWhams .digiwham .right-pane .play-button-title-and-artist .title-and-artist h3{ color: #{@widget.widget_theme.heading_color};}
  '#digiWhams  p{ color: #{@widget.widget_theme.text_color};}
  '#digiWhams .digiwham .right-pane .playback-time .end-time {color: #{@widget.widget_theme.text_color};}
  '#digiWhams .digiwham .right-pane .playhead-time {color: #{@widget.widget_theme.text_color};}
  '#digiWhams .digiwham { border-bottom: 1px solid #{@widget.widget_theme.border_color}; }
  '#digiWhams .comments .list .comment-title, #digiWhams .playlists .list .comment-title {color: #{@widget.widget_theme.text_color}; }