h1 Wizard::Rights::CommonWorks#Show
p Find me in app/views/wizard/rights/work_start/update.html.slim
br
hr
br
= link_to 'Wizard', new_wizard_rights_common_work_work_contributor_path( @common_work, @wizard, user_id: params[:user_id]), class: 'btn btn-default'
