- if @recording
  #digiWhams  class="/recordings/#{@recording.id.to_s}"
    == render 'recordings/recording_with_icons', recording: @recording, 
                                                 info: true,
                                                 add_to_playlist: false, 
                                                 remove_from_playlist: false, 
                                                 edit: false, 
                                                 delete: false,
                                                 description: true,
                                                 share: false,
                                                 target: "_parent"