#wrap
  .full-width-top
    == render 'admin/shared/navbar', page: 'account'

            
  .container
    ==render 'admin/shared/messages'
    -cache ([Admin.cached_find(1).version, current_user.uuid , @account.uuid ]) do
      
      - blog = Blog.cached_find('Assets')
      == render 'shared/breadcrumbs', breadcrumbs: { links: { @account.title.to_sym => account_path(@account), \
                                                              }, current: 'assets'}
      
      
      == render 'shared/page_title', locals: {blog: Blog.cached_find('Assets'), blog_post: 'Assets'}
      
      
      
      
      .row

            
        -if user_can_manage_recordings @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "RECORDINGS" , blog ), \
                                                link: account_recordings_path(@account), \
                                                css_class: 'btn btn-warning', \
                                                icon: 'fa fa-headphones', \
                                                id: 'recordings' \
                                              }
            
            
            
        -if user_can_manage_common_works @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "WORKS" , blog ), \
                                                link: account_account_works_path(@account), \
                                                css_class: 'btn btn-primary', \
                                                icon: 'fa fa-music', \
                                                id: 'common-works' \
                                              }
            
        -if user_can_manage_catalogs @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "CATALOGS" , blog ), \
                                                link: account_catalogs_path(@account), \
                                                css_class: 'btn btn-primary', \
                                                icon: 'fa fa-list-ul', \
                                                id: 'catalogs' \
                                              }
                                        
        -if user_can_add_music @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "ADD MUSIC" , blog ), \
                                                link: account_add_content_index_path(@account), \
                                                css_class: 'btn btn-success', \
                                                icon: 'fa fa-plus-circle', \
                                                id: 'add-music' \
                                              }

        -if user_can_manage_files @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "DOCUMENTS" , blog ), \
                                                link: account_documents_path(@account), \
                                                css_class: 'btn btn-danger', \
                                                icon: 'fa fa-folder-o', \
                                                id: 'documents' \
                                              }
                                      
        -if user_can_manage_playlists @account, current_user
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "PLAYLISTS" , blog ), \
                                                link: account_playlists_path(@account), \
                                                css_class: 'btn btn-default', \
                                                icon: 'fa fa-headphones', \
                                                id: 'playlists' \
                                              }


      
-cache (['footer', Admin.cached_find(1).version]) do      
  =render 'shared/footer'
  