#wrap
  div class="#{'profile' if account_owner?}"
    .full-width-top
      == render 'admin/shared/navbar', page: 'account'         
  .container
    ==render 'admin/shared/messages'
    /-cache ([Admin.cached_find(1).version, request.url,@account.recordings_uuid, current_user.uuid  ]) do
    .do
      == render 'shared/breadcrumbs', breadcrumbs: { links: {@account.title.to_sym => account_path(@account),
                                                             manage: account_account_path(@account), \
                                                             crm: account_account_crm_index_path(@account),\
                                                             opportunities: account_account_opportunities_path(@account),\
                                                             @opportunity.title.to_sym => account_account_opportunity_path(@account, @opportunity)\
                                                             }, current: 'New' }
      - blog = Blog.cached_find('Music Submissions')
      == render 'shared/page_title', locals: {blog: blog, blog_post: 'New Music Music Submission'}
      
      .row
        -if true
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "FIND IN CATALOG" , blog ), \
                                                link: find_recording_account_account_opportunity_music_request_path(@account, @opportunity, @music_request), \
                                                css_class: 'btn btn-success', \
                                                icon: 'fa fa-search' \
                                              }
      


            
        -if true
          .col-sm-6
            == render 'shared/badge', locals: {  \
                                                blog: blog, \
                                                post: BlogPost.cached_find( "UPLOAD RECORDING" , blog ), \
                                                link: upload_recording_account_account_opportunity_music_request_path(@account, @opportunity, @music_request), \
                                                css_class: 'btn btn-info', \
                                                icon: 'fa fa-cloud-upload', \
                                                id: 'recordings', \
                                                no_turbo: true \
                                              }

      /== render 'form'
            
  == render 'shared/back', locals: {link: music_submissions_account_account_opportunity_path(@account, @opportunity)}
-cache (['footer', Admin.cached_find(1).version]) do      
  =render 'shared/footer'
              





