#wrap
  .full-width-top
    == render 'admin/shared/navbar', page: 'support'

  .container
    .row
      .col-sm-12
        == render 'admin/shared/messages'
        /== render 'shared/breadcrumbs', breadcrumbs: { links: { admin: admin_index_path }, current: 'accounts'}
        == render 'shared/title', locals: {title: @issue.title, body: "Reported by: #{@issue.user.email}"}
    .row

      .col-sm-12
        = image_tag @issue.image_url
        hr
        = link_to 'Back', user_issue_path(@user, @issue), class: 'btn btn-default btn-lg'
              

            

/p
/  strong Title:
/  = @issue.title
/p
/  strong Body:
/  = @issue.body
/p
/  strong Image:
/  = @issue.image
/p
/  strong User:
/  = @issue.user
/
/p
/  strong Os:
/  = @issue.os
/p
/  strong Browser:
/  = @issue.browser
/p
/  strong Link to page:
/  = @issue.link_to_page
/p
/  strong Can reproducd:
/  = @issue.can_reproducd
/p
/  strong Status:
/  = @issue.status
/p
/  strong Priority:
/  = @issue.priority
/p
/  strong Symtom:
/  = @issue.symtom
/
/= link_to 'Edit', edit_issue_path(@issue)
/'|
/= link_to 'Back', issues_path
