

<tr>
  <td>
    <img src="https://digiramp.com/uploads/raw_image/image/2/mail-line.jpg" />
  </td>
</tr>

<tr>
	<td>
		<table>
			<tr>
				<td style="width: 102px; vertical-align: top;">
          <%= image_tag @inviter.image_url(:avatar_92x92)%>
				</td>
        <td style="vertical-align: text-top;">
          <div class="user-name">
            <%= @inviter.user_name%>
          </div>
          
          <% if @inviter.profession.to_s != '' %>
            <div class="profession">  
              &nbsp;-&nbsp;<%= @inviter.profession %>
            </div>
          <% end %>
          
          <%= @inviter.short_description%>
        </td>
			</tr>
      
		</table>
		
	</td>
</tr>
<tr>
    <td>
				<table>
					<tr>
						<td>
              <% if @inviter.composer %>
                <span class="label"> 
                  Composer  
                </span>
                &nbsp;
              <% end %>
              <% if @inviter.writer %>
                <span class="label"> 
                  Writer  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.artist %>
                <span class="label"> 
                  Artist  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.author %>
                <span class="label"> 
                  Author  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.producer %>
                <span class="label"> 
                  Producer  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.musician %>
                <span class="label"> 
                  Musician  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.remixer %>
                <span class="label"> 
                  Remixer  
                </span>
                &nbsp;
              <% end %>
              

              <% if @inviter.dj %>
                <span class="label"> 
                  DJ  
                </span>
                &nbsp;
              <% end %>
            </td>
          </tr>
        </table>
    </td>
</tr>
