#wrapper
  .full-width-top
    == render 'shared/navigationbar', page: 'home' 
  
  
  #sidebar-wrapper
    ul class="sidebar-nav"
      == render 'users/shared/sidebar', selected: 'support'
  
  #page-content-wrapper
    .container-fluid
      ==render 'admin/shared/messages'
      .row
        .col-sm-6
          h2 Support
        .col-sm-6
          .pull-down-10
            .pull-right
              => link_to 'Report an issue', new_user_issue_path(current_user), class: 'btn btn-default'
              = link_to 'Known issues', user_issues_path(current_user), class: 'btn btn-default'
      .sexy_line
      .row
        .col-sm-8.col-xs-12.col-lg-6
          .digi-box
            = simple_form_for [ @contact ], :url => url_for(:action => 'create', :controller => 'supports'), :method => 'post' do |f|
              
              = f.input :email, placeholder: 'you@email.com'
              
              = f.input :title, placeholder: 'Subject', label: 'Subject'
              = f.input :body, label: 'Message', :input_html => {  style: "height: 284px;", placeholder: "Write your message here"}
              = f.hidden_field :contact_subject, value: 'support ticket'
              .row
                .col-sm-12
                  .pull-right
                    = f.submit 'Send', class: 'btn btn-primary'
            

            
                 
              
  == render 'shared/site_footer'    
== render 'users/shared/mobile_links'





/#unsubscribe
/  .full-width-top
/    == render 'shared/navigationbar', page: 'home' 
/  
/
/  #unsubscribe-wrapper
/    .container
/      h2 Support
/      .sexy_line
/        .row
/          .col-sm-3
/            - if current_user
/              = link_to 'Report an issue', new_user_issue_path(current_user), class: 'btn btn-default'
/              br
/              = link_to 'Known issues', user_issues_path(current_user), class: 'btn btn-default'
/          .col-sm-3
/            h3 Contact us
/            = simple_form_for Contact.new do |f|
/              
/              = f.input :email, placeholder: 'you@email.com'
/              
/              = f.input :title, placeholder: 'Subject', label: 'Subject'
/              = f.input :body, label: 'Message', :input_html => {  style: "height: 284px;", placeholder: "Write your message here"}
/              br
/              .pull-right
/                = f.submit 'Send to support', class: 'btn btn-primary'
/            
/          .col-sm-3
/          .col-sm-3
/            
/
/      
/                  
/            
/                 
/              
/  == render 'shared/site_footer'    
/== render 'users/shared/mobile_links'




  


























/#wrap
/  .full-width-top
/    == render 'admin/shared/navbar', page: 'support'
/
/  .container
/    .row
/      .col-sm-12
/        == render 'shared/page_title', locals: {blog: Blog.cached_find('Support'), blog_post: 'Support'}
/    .row
/      .col-sm-6
/        == render 'shared/badge_button', locals: { \
/                                                    blog_post: 'NEW ISSUES', \
/                                                    link: new_user_issue_path(current_user), \
/                                                    css_class: 'btn btn-success', \
/                                                    icon: 'fa fa-ticket' \
/                                                  }
/      .col-sm-6
/        == render 'shared/badge_button', locals: { \
/                                                    blog_post: 'KNOWN ISSUES', \
/                                                    link: user_issues_path(current_user), \
/                                                    css_class: 'btn btn-primary', \
/                                                    icon: 'fa fa-tasks' \
/                                                  }
/      .col-sm-6
/        == render 'shared/badge_button', locals: { \
/                                                    blog_post: 'FEATURE REQUESTS', \
/                                                    link: user_feature_requests_path(current_user), \
/                                                    css_class: 'btn btn-info', \
/                                                    icon: 'fa fa-lightbulb-o' \
/                                                  }
/
/-cache (['footer', Admin.cached_find(1).version]) do      
/  =render 'shared/footer'
