.jumbotron{
  .form-control {
    font-size: 63px;
    text-align:center;
  }
  
}
/*
.navbar-header{
  .navbar-brand{ img{height:45px; margin-top:-14px;}}
}
*/
.wysihtml5-command-active {
  font-weight: bold;
}

.expired{
  color:red;
}

.icon-badge{
  
  .btn{
    width:100%;
    padding:30px;
    margin-top:20px;
    .fa{font-size:100px; 
      text-shadow: #888 0 -1px 0;
      color:#e8e8e8;
    }
  }
}