.jumbotron{
  .form-control {
    font-size: 63px;
    text-align:center;
  }
  
}

.navbar-header{
  .navbar-brand{ img{height:45px; margin-top:-14px;}}
}

.wysihtml5-command-active {
  font-weight: bold;
}

.expired{
  color:red;
}