// Place all the styles related to the cms_banners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

      
ul.cms-page-nav
  margin: 0
  list-style: none
  li
    height: 40px
    text-indent: 10px
    
    a
      color: #5B5A5A
    .cms-nav-link
      width: 100%
      padding: 8px
  li:hover
    background-color: #E3E3E3
  li.selected
    background-color: #B1B1B1
    -moz-box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    -webkit-box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    
.cms-page-nav
  .horizontal-link
    float: left
    display: inline
    .cms-nav-link 
      padding: 8px
  .horizontal-link:hover
    background-color: #E3E3E3
  .horizontal-link.selected
    background-color: #B1B1B1
    -moz-box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    -webkit-box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    box-shadow: rgba(102, 102, 102, 0.2) 0 0 3px 1px inset
    
.playlist-link
  a
    img
      width: 100%
      hight: auto
      
.cms-box
  width: 100%
  background-color: #ddd
  min-height: 300px
  
.cms-box-120
  min-height: 120px

.cms-box-80
  min-height: 80px
  
.cms_recording_example
  display: block
  overflow: hidden

.cms_example
  display: block
  overflow: hidden
  
.digi-layouts
  img
    width: 100%
    height: auto

  