$primary-color:    #5F9BB4






@mixin color-danger
  color: #E45642
  
@mixin panel-title-green
  background-color: #5F9E79
  
@mixin panel-default-color
  background-color: #FFF

.red-text
  @include color-danger
  
.blue-background
  background-color: #00F
  

.btn-primary 
  background-color: $primary-color
  border-color:     $primary-color
