@import "colors"
.comments
  padding: 5px
  margin-bottom: 10px
  @include panel-default-color
  .comments-content
    padding: 4px
    //border: 1px solid #ddd
    margin-bottom: 4px
    h4
      margin-top: 4px
      margin-bottom: 2px
      color: #888
    h5
      margin-top: 0px
      margin-bottom: 4px
      
      
    .comment-content
      margin-left: 56px
    

  
    