.digiramp_player{
  
  hr{
    margin-top: 2px;
    margin-bottom: 8px;
  }
  .thin{
    .progress{
      height:2px;
    }
  }

  .thumbnail {
    margin-top: 8px;
    margin-bottom:0px;
    border-radius: 0px;
  }

  .thumbnail > img{
      width: 100%;
      height: 96px;
  }
  
  
  .playhead{
    background-color:#F00;
    width:1px;
    height:1px;
    left-margin:0px;
    float:top;
    position: absolute;
  }
  
  .player-button{
    display:block-inline;
    font-size:46px;
    width:46px;
    .fa{
      font-size:63px;
    }
  }
  
  
  
  .player-button:hover{
   color:#000; 
  }
  
  .play-button{
    margin-left:16px;
  }
  
  .align-center{
    text-align:center;
  }
  
  .position{
    padding: .2em .6em .3em;
    margin-left:10px;
    height:46px;
    font-weight:200;
    line-height: 1;
    color: #35FD28;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
  
    background: #2a3e5f;
    background: -moz-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2a3e5f), color-stop(100%, #272f3a));
    background: -webkit-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
    background: -o-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
    background: -ms-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
    background: radial-gradient(ellipse at center, #2a3e5f 0%, #272f3a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a3e5f', endColorstr='#272f3a',GradientType=1 );
  
    font-size: 32px;
    
    max-width:220px;
  }
  
  @media all and (max-width:768px) {
    .player-button{
      display:block-inline;
      font-size:24px;
      width:24px;
      .fa{
        font-size:24px;
      }
      
    }
    .progress { margin-bottom: 8px;}
    .play-controlls{margin-bottom:8px;}

    .position{
      padding: .2em .6em .3em;
      margin-left:10px;
      height:30px;
      font-weight:200;
      line-height: 1;
      color: #35FD28;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
  
      background: #2a3e5f;
      background: -moz-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2a3e5f), color-stop(100%, #272f3a));
      background: -webkit-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
      background: -o-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
      background: -ms-radial-gradient(center, ellipse cover, #2a3e5f 0%, #272f3a 100%);
      background: radial-gradient(ellipse at center, #2a3e5f 0%, #272f3a 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a3e5f', endColorstr='#272f3a',GradientType=1 );
  
      font-size: 24px;
    
      max-width:220px;
    }
    .thumbnail > img{
        display: block;
        width: 100%;
        height: 48px;
    }
  }
  
  @media (min-width:1170px) {
    
    .thumbnail > img{
        display: block;
        width: 100%;
        height: auto;
    }
  }
  //.label {
  //  display: block;
  //  /* padding: .2em .6em .3em; */
  //  font-size: 75%;
  //  font-weight: bold;
  //  line-height: 1;
  //  color: #fff;
  //  text-align: left;
  //  border-radius: .0em; 
  //  margin-top:4px;
  //}

  
}