@import "row_machine"


.explore-badges
  width: 100%
  
  .explore-badge 
    @include rowMachine(7, 2%)
    padding: 10px
    float: left
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    background-color: #ddd
    margin-top: 10px
    //height: 250px
    //.avatar
    //  position: relative
    //  .user-tags
    //    position: absolute
    //    top: 0px
    //    .user-tag
    //      //display: inline
    //      padding: 0px
    //      color: #EEE
    //      background: rgb(0, 0, 0)
    //      background: rgba(0, 0, 0, 0.5)
    //      height: 17px
    //      font-size: 12px
    //      padding-left: 4px
    //      padding-right: 4px
    //      margin-bottom: 2px
    //
    //a
    //  color: #555
    //
  
    //@media (min-width: 1800px) 
    //  @include rowMachine(8, 2%)
    //  
    //@media (max-width: 1800px) 
    //  @include rowMachine(6, 2%)
    //
    //@media (max-width: 1440px) 
    //  @include rowMachine(5, 2%)
    //
    //@media (max-width: 1216px) 
    //  @include rowMachine(4, 2%)
    //
    @media (min-width: 769px) 
      @include rowMachine(3, 4%)
    
  
    @media (max-width: 768px) 
      @include rowMachine(2, 4%)
    
  
    @media (max-width: 544px) 
      @include rowMachine(1, 4%)
    
  
    img 
      max-width: 100%