/*
@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  src: local('IM FELL English Roman'), local('IM_FELL_English_Roman'), url(https://fonts.gstatic.com/s/imfellenglish/v5/xwIisCqGFi8pff-oa9uSVH92UDU6ECjsrEJbV3Eb3C4.woff2) format('woff2'), url(https://fonts.gstatic.com/s/imfellenglish/v5/xwIisCqGFi8pff-oa9uSVCLHKJuu6uDU1VgRUl2Dqww.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'IM Fell English';
  font-style: italic;
  font-weight: 400;
  src: local('IM FELL English Italic'), local('IM_FELL_English_Italic'), url(https://fonts.gstatic.com/s/imfellenglish/v5/Z3cnIAI_L3XTRfz4JuZKbiK06-ccNyMJPjWRwGiOLE8.woff2) format('woff2'), url(https://fonts.gstatic.com/s/imfellenglish/v5/Z3cnIAI_L3XTRfz4JuZKbp3BpQU8opE6p3S8I9UDCT8.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v9/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v9/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(https://fonts.gstatic.com/s/opensans/v9/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
*/
body{
  font-family: 'Pontano Sans', sans-serif;
}

.label{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

h6, .h6 { font-size: 13px; }
h5, .h5 { font-size: 15px; }

h4, .h4 {color: #666;}

.line-through {text-decoration: line-through;}
  
