@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel-Regular'), url(http://themes.googleusercontent.com/static/fonts/cinzel/v2/PPYkMH2Vr9iqUFBaz60XpevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Junge';
  font-style: normal;
  font-weight: 400;
  src: local('Junge'), local('Junge-Regular'), url(http://themes.googleusercontent.com/static/fonts/junge/v2/rDDLpRsvJtDYa9fMgcJnCaCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}