@import "compass/css3/box-shadow"
//$default-box-shadow-inset = 0
.global-player
  background-color: #28375E
  //background-color: #1D1D1D
  position: fixed
  top: 3px
  width: 50%
  max-width: 350px
  height: 43px
  color: #aaa
  +box-shadow(inset #000 0px 0px 6px)
  padding: 3px 8px 3px 10px
  display: inline
  margin-left: 10px
  
  
  
  
  .global-play-button
    float: left
    font-size: 20px
    padding-top: 4px
    width: 20px
  .global-stop-button
    float: left
    font-size: 20px
    padding-top: 4px 
    display: none
    width: 20px
  .title
    margin-left: 10px
    float: left
    //display: inline-table
    font-family: 'Pontano Sans', sans-serif
    h3
      font-size: 13px
      margin-top: 4px
      margin-bottom: 3px
    h6
      font-size: 10px
      margin-top: 0px
      margin-bottom: 0px
      
      


