html,
body{
  background: image-url('skyline.jpg') no-repeat center center fixed; 
}


.form-control {
  font-size: 18px;
  background-color: #241B1B;
}












.full-width-sign-up{
  margin-top:1px;
  padding:0 15px;
  width:100%;
  /*
  background-image: -webkit-linear-gradient(top, #F8F8F8 0%, #E6E6E6 100%);
  background-image: linear-gradient(to bottom, #F8F8F8 0%, #E6E6E6 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffBCBEC0', endColorstr='#ff9D9FA2', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
  */
  border-bottom-bottom:solid;
  border-color:#FFF;
  border-width:1px;
}



/*

  border-color: #7E99B6;
*/
/*.orange {background-color: #7E99B6 !important; border-color: #7E99B6 !important;}*/

.green { background-color: #43B44E !important;}
.orange {background-color: #F4922D !important;}
.red { background-color: #C65864 !important;}
.blue {background-color: #38A6ED !important;}

.coal{background-color: #202020 !important;}








.btn-custom {
  background-color: #7E99B6;
  border-color: #7E99B6;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #6e8cad;
  border-color: #5d7fa4;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #7E99B6;
  border-color: #7E99B6;
}








