html,
body{
  /*h1,h2,h3,h4,h5,h6{font-family: 'Cinzel', serif;}*/
  height: 100%;
  font-size: 16px;
  /*background: url('digiramp-back.gif') no-repeat center center fixed; */
  background: image-url('digiramp-back.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.panel-title{
  color:#fff;
}

.panel {
  border-radius: 0px;
  border: 1px solid;
  border-color: #585858;
  background-color: #000000;
  color: #9C9C9C;
}