html,
body{
  background: image-url('skyline.jpg') no-repeat center center fixed; 
}


.form-control {
  font-size: 18px;
  background-color: #241B1B;
}


/*
.full-width-sign-up{
  margin-top:1px;
  padding:0 15px;
  width:100%;
  border-bottom-bottom:solid;
  border-color:#FFF;
  border-width:1px;
}
*/


/*

  border-color: #7E99B6;
*/
/*.orange {background-color: #7E99B6 !important; border-color: #7E99B6 !important;}*/




.btn-custom {
  background-color: #7E99B6;
  border-color: #7E99B6;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  background-color: #6e8cad;
  border-color: #5d7fa4;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #7E99B6;
  border-color: #7E99B6;
}








