.social-icons
  table
    width: 100%
    td
      vertical-align: top
      padding: 10px
  .facebook
    background: url("social_icons/square-facebook-64.png") no-repeat
    width:  64px
    height: 64px

  .twitter
    background: url("social_icons/twitter-64.png") no-repeat
    width:  64px
    height: 64px

  .linkedin
    background: url("social_icons/square-linkedin-64.png") no-repeat
    width:  64px
    height: 64px

  .google
    background: url("social_icons/square-google-plus-64.png") no-repeat
    width:  64px
    height: 64px
    
