// Extra small devices (phones, less than 768px) 
// No media query since this is the default in Bootstrap 


//--------------------------------------------------
#wrapper
  height: 100%
// default values
#page-content-wrapper 
  padding: 50px 0px
  min-height: 100%
  padding-bottom: 30px
  left: 0px
  

#page-content-wrapper:after 
  content: ""
  display: block

#site-footer, #page-content-wrapper:after 
  // .push must be the same height as footer 
  height: 30px

#site-footer 
  background: #EAEAEA
  text-align: center
  padding-top: 6px


.container-fluid 
  margin-right: 5px
  margin-left:  5px
  padding-right: 5px
  padding-left:  5px
  
.row 
  margin-right: -5px
  margin-left:  -5px
.col-sm-6, .col-sm-12
  padding-right: 5px
  padding-left:  5px

.recording-top-buttons
  margin-top: 10px
  margin-bottom: -20px
  margin-left: 0px
  
.mobile_links
  height: 28px

// responcive
// Small devices (tablets, 768px and up) 
@media (min-width: 768px)
  .row 
    margin-right: -15px
    margin-left: -15px
  .col-sm-6, .col-sm-12
    padding-right: 15px
    padding-left:  15px
  //#page-content-wrapper 
  //  padding: 54px 15px
  .container-fluid 
    padding-right: 15px
    padding-left: 15px
    margin-right: auto
    margin-left: auto
  
  .recording-top-buttons
    margin-top: 0px
    margin-bottom: 0px
    margin-left: -15px
  .top-form
    margin-bottom: 10px
  
  .mobile_links
    height: 0px

// Medium devices (desktops, 992px and up) 
//@media (min-width: 992px)
//  .container-fluid 
//    margin-right: auto
//    margin-left:  auto
//
//// Large devices (large desktops, 1200px and up) 
//@media (min-width: 1200px)
//  .container-fluid 
//    margin-right: auto
//    margin-left:  auto
//    