// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages
  
  .message
    .message-headder
      width: 100%
      min-height: 50px
      .message-avatar
        display: inline
        float: left
        width: 60px
        
      .message-sender
        display: inline
        float: left
        .remove-button
          margin-top: 5px
      .message-info
        float: right
        display: inline
      .message-title
        display: block
        height: 20px
        width: 100%
      .message-body
        width: 100%
        
  

  .messages-senders
    min-height: 50px
    .message-avatar
      float: right
      
