@import compass/css3
$navbar-color: #272F3A

.navbar-digiramp 
  background-color: $navbar-color
  border-color: #000
  +single-box-shadow
  a
    color: #999
    
  .nav > li > a:hover, .nav > li > a:focus 
    background-color: lighten($navbar-color, 10%)
    
  .navbar-brand 
    padding: 0px
    
  .navbar-toggle .icon-bar 
    background-color: #A5B7EB
  
  
  
    

