@import compass/css3
$navbar-color: #2B2B38 
@import "compass/css3/opacity"
//#1B1B20

//.navbar-digiramp .nav > li > a:hover, .navbar-digiramp .nav > li > a:focus 
//  background-color: #166BAB


.navbar-digiramp 
  background-color: $navbar-color
  border-color: #d0d0d0
  @include opacity(0.93)
  //+box-shadow(#ddd 0px 0px 10px)
  a
    color: #aaa
    
  .nav > li > a:hover, .nav > li > a:focus 
    background-color: darken(#415F8E, 10%)
    color: #ddf
    
  .navbar-brand 
    padding: 0px
    
  .small-logo
    display: inline
  .large-logo
    display: none
    
  .navbar-toggle .icon-bar 
    background-color: #A5B7EB
    

  
  .nav > li > a > img 
    max-width: none
    margin-bottom: -10px !important
    margin-top: -10px
    
    
    
  .navbar-nav 
    li.active 
      background-color:  #32496A
      a
        color: #ddf
    
.navbar-fixed-top 
  border-width: 0 0 0px

  

@media (min-width: 600px)
  .navbar-digiramp 
    .large-logo
      display: inline
      margin-right: 68px
      
    .small-logo
      display: none
  
//@media (min-width: 1200px)
//
//@media (min-width: 1200px)


