.pagination {
  
  margin-bottom: 0px;
  border-radius: 0px;
  /*padding: 10px 16px;*/
  font-size: 18px;
  line-height: 1.33;
  
  margin: 0px 0;
}


.pagination > li > a, .pagination > li > span {
  padding: 10px 16px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-top-right-radius: 0px; 
  border-bottom-right-radius: 0px; 
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.mobile_pagination{
  color: #428bca !important;
  text-decoration: none;
  font-size: 16px !important;
  margin-top:10px;
  padding: 10px 16px;
}