.playlist{
  .playback_controls{
    display:inline-block;
  }

  .info{
    display:inline-block;
  }
  
  .thumbnail > img{
      display: block;
      width: 100%;
      height: 64px;
  }
  
  
}

