.recording
  color: #888
  font-size: 13px
  margin-bottom: 10px
  .by
    font-style: italic
    display: inline
  .artist
    
    display: inline
.tags
  h6
    color: #888
    margin-bottom: 4px
  h5
    margin-top: 4px