.recording
  color: #888
  font-size: 13px
  margin-bottom: 6px
  .by
    font-style: italic
    display: inline
  .artist
    display: inline
    
  
    
.tags
  h6
    color: #888
    margin-bottom: 4px
  h5
    margin-top: 4px
    
.top-form
  margin-bottom: 0px
  
.small-symbols
  margin-top: 2px
  color: #888
  font-size: 12px
  a
    color: #888
  

  
.show-recording
  //min-height: 140px
  h6
    color: #888
  .cover
    display: inline-block
    width: 33%
    max-width: 200px
    float: left
    margin-bottom: 10px
    margin-right: 10px
    img
      max-width: 100%
      height: auto

  //.info
  //  .user-avatar
  //    float: left
  //  //width: 66%
  //  //padding-left: 10px
  //  .user-name
  //    height: 52px
  //  .description-content   

  .buttons
    width: 100%
    display: inline-block

.blue-info
  .fa
    color: #69ACC8

.search-recording
  margin-top: 10px
  

.new-recording
  background-color: #1E1E1E
  padding: 5px
  margin-bottom: 10px

  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3)
  box-shadow: 0 1px 3px rgba(0,0,0,0.3)

  a
    color: #7AB056
        
  .new-recording-badge
    width: 100px
    height: 100px
    background-color: #000
    //display: inline-block
  .new-recording-badge:hover
    //background-color: #C7C7C7
  .new-recording-badge-content
    position: relative
    top: 10px
    i
      font-size: 48px
    text-align: center
    width: 100%
  .new-recording-content
    position: relative
    margin-top: -100px
    margin-left: 110px
    height: 100px
    .new-recording-text
      height: 100px
      width: 100%
      h3
        font-size: 15px
        margin-top: 6px
        margin-bottom: 4px
        color: #696969
    .new-recording-waveform
      margin-top: -54px
      img
        height: 48px
        width: 100%
    

.new-recording:hover
  background-color: #E6E7E9

.recording-navigation
  margin-top: 10px
  
//.wizard-steps
//  table
//    width: 100%
//    tr
//      td
//        text-align: center

li 
  .active
    a 
      color: #f00

.song-box
  width: 100%
  background-color: #555

  .song-center
    display: inline
    float: left

  .song-right
    display: inline
    float: right
    width: 200px
   
//.recording-credits
//  padding: 6px
//  .recording-credit
//    .ipi-digiramp-user
//      width: 48px
//      display: inline
//      float: left
//      background-color: #ddd
//      margin-left: 10px 
//    .ipi-digiramp-user-info
//      //width: 48px
//      display: inline
//      float: left
//      background-color: #eee
//  
.confirmation-status
  display: inline-block
  vertical-align: top
  margin-right: 4px
  h5 
    margin: 0px
    font-size:   15px
    .label
      padding: 4px 6px 4px 6px
      
.cancel-confirmation
  display: inline-block
  
.artwork
  img
    height: 64px
    width: auto
