.recording
  color: #888
  font-size: 13px
  margin-bottom: 10px
  .by
    font-style: italic
    display: inline
  .artist
    display: inline
    
  
    
.tags
  h6
    color: #888
    margin-bottom: 4px
  h5
    margin-top: 4px
    
.top-form
  margin-bottom: 0px
  
.small-symbols
  margin-top: 2px
  color: #888
  font-size: 12px
  

  
.show-recording
  //min-height: 140px
  .cover
    display: inline-block
    width: 33%
    max-width: 200px
    float: left
    margin-bottom: 10px
    margin-right: 10px
    img
      max-width: 100%
      height: auto

  .info
    .user-avatar
      float: left
    //width: 66%
    //padding-left: 10px
    .user-name
      height: 52px
    .description-content   

  .buttons
    width: 100%
    display: inline-block
    
.red-heart
  color: #AA0000

.blue-info
  .fa
    color: #69ACC8

