.sexy_line 
  margin-top: 5px
  margin-bottom: 5px
  height: 1px
  background: #888
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#D6D6D6), to(#D6D6D6), color-stop(50%, #888))
  
.sexy_line_dark 
  margin-top: 5px
  margin-bottom: 5px
  height: 1px
  background: #32323C
  background: -webkit-gradient(linear, 0 0, 100% 0, from(#32323C), to(#32323C), color-stop(50%, #000))