@import "compass"
@import "truncate"

.logo 
  width: 350px
  height: 89px
  display: inline-block
  margin-bottom: 1em
  background-image: url("digiramp.png")
  background-size: 350px 89px
  margin-top: 10px



.ellipsis
  @include    truncate
  
.signup
  .btn
    margin-bottom: -7px
    margin-top: -6px

.ping 
  font-size:  30px 
 

.dark 
  background-color:  #000 
 

.wysihtml5-command-active  
  font-weight:  bold 
 

.border-right 
  height:  100% 
  border-right:  1px solid #CDCDCD 
 


.btn-top-margin 
  margin-top:  8px 
 
.btn-sidemenu
  margin-left: -12px
  font-size: 32px
  line-height: 32px
  color: #A9BAEA

.btn-sidemenu:hover
  color: #A9BAEA

.content 
  padding:  15px 0px 
  height:  100% 
  
 

/* Wrapper for page content to push down footer */
#wrap  
  height:  100% 
  //height:  auto 

  margin: -50px 0px 0px 0px
  padding-top: 50px
  //padding:  15px 0 60px 
  

.fa-3 
  font-size:  3em 
 

.remember-me 
  .checkbox 
    color: #686868 !important 
   
  
 

//.form-control  
//  font-size:  18px !important 
//  margin-bottom: 8px 
// 

.page-title 
  h1 
    margin-top:  8px 
    color:  #585858 
  p 
    color: #fff !important  
     
 

 

.breadcrumb 
  margin-bottom:  0px 
  margin-top:     8px
  padding:  0px 0px 
  background-color:  transparent 
  border-radius:  0px  
  a  
    color:  #787878
 

.pull-up-20 
  margin-top:  -20px 
 

.title-info 
  margin-top:  10px 
  
  
.digi-box
  background-color: #ECEBEA
  margin-bottom: 10px
  padding: 8px
  //+box-shadow(#CACACA 1px 2px 1px)
  //border: solid 1px #C1C2C3
  h4, .h4, h5, .h5, h6, .h6
    margin-top: 0px
 
.digi-box-dark
  background-color: #E6E6E6


.btn 
  overflow: hidden 
 

.label 
  overflow: hidden 
  padding:  .2em .6em .2em 
  border-radius:  0px
 


.panel-title  
  margin-top:  0px 
  font-size:  16px 
  color:  inherit 
 

.account_badge 
  height: 240px 
  overflow:  hidden 
  text-overflow:  ellipsis 
 

.panel-player 
  table 
    margin-bottom: 0px 
    thead 
      font-size: 15px 
      tr 
        th 
          padding-top: 0px 
          padding-bottom: 0px 
         
        
     
   
 

.panel-player:hover 
  h4 
    color: #eee  
  color: #000 
  table 
    thead 
      tr 
        th 
          color: #333  
  

.bg-recording-title 
  padding: 4px 0px 4px 8px 
  margin-left: -8px 
  margin-right: -8px 
  margin-bottom: 8px 
  background-color: #3C9A94 
  h4 
    font-size: 16px  
    margin-top: 4px  

  color:  #fff 
 

.pull-down 
  margin-top: 18px 
 
table thead tr th 
  text-transform:  uppercase 
  -webkit-font-smoothing:  antialiased 
  color:  #6d6d6d 
  text-shadow:  #fff 0 1px 0 
 
.table > thead > tr > th 
  padding-top:  14px 
  line-height:  1.428571429 
  vertical-align:  top 
  border-top:  0px solid #545E77 
 




.cover_thumb 
  margin-right: 12px 
 

ul
 
  padding: 0px 
  margin-left: 20px 
 

@media (min-width: 768px)  
  .comment 
    margin-top: 0px 
    max-width: 650px 
   
 

.player_action 
  display: inline 
 

.edit 
  min-width: 191px 
 

.gray-text 
  color: #999 
 

.icon-badge 
  
  .btn 
    width: 100% 
    padding: 30px 
    margin-top: 20px 
    .fa 
      font-size: 100px  
      text-shadow:  #888 0 0px 0 
      color:  #F0F0F0 
     
   
  
  .btn-default 
    .fa 
      text-shadow:  #fff 0 1px 0 
      color:  #666 


 

.truncate  

  white-space:  nowrap 
  overflow:  hidden 
  text-overflow:  ellipsis 
 

.width_350 
  
  max-width: 350px 
 

.gravatar 
  margin-right: 16px 
  float: left 
  display: inline 
 

.address 
  
  display: inline 
  table 
    tr 
      th  
        text-align: right   
 


.editable-table 
  width: 100% 

  thead 
    tr 
      th  
        -webkit-font-smoothing:  antialiased 
        color:  #000000!important 
        text-align:  center 
        background-color:  #999 
        border-spacing:  2px 
        border-color:  gray 
        white-space:  normal 
        line-height:  normal 
        font-weight:  normal 
        font-size:  medium 
        font-variant:  normal 
        font-style:  normal 
        color:  -webkit-text 
        text-align:  start 
    
    color:  #000 
    text-shadow: none  
   
  
  .column-label > td, .row-label  
    text-align:  center 
    background:  #EEE 
   
  td  
    border:  1px solid #EEE 
   

 

.submission 
  h3 
    margin-top:  0px 
    margin-bottom:  0px
   
  .digiramp_player .thumbnail > img  
    display:  block 
    display:  block 
    width:  100% 
  height:  60px 
   
 



.simple-panel  
  border:  1px solid #ddd 
  margin:  10px 0 

  padding:  8px 
  background-color:  #fff 
  h6 
    margin-top:  0px 
    margin-bottom:  4px 
   
  text-overflow:  ellipsis 
  word-wrap:  break-word 
  overflow:  hidden 
  white-space:  nowrap 
  
  
 

.location 
  color:  #888 
  
 
.chosen-container-multi .chosen-choices  
  position:  relative 
  overflow:  hidden 
  -moz-box-sizing:  border-box 
  -webkit-box-sizing:  border-box 
  box-sizing:  border-box 
  margin:  1 
  height:  34px 
  padding:  6px 12px 
  width:  100% 
  height:  auto !important 
  height:  1% 
  border:  1px solid #ccc 
  border-radius:  4px 
  background-color:  #fff 
  background-image:  url('data: image/svg+xml base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…gd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g') 
  background-size:  100% 
  background-image:  -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff)) 
  background-image:  -moz-linear-gradient(#eeeeee 1%, #ffffff 15%) 
  background-image:  -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%) 
  background-image:  linear-gradient(#eeeeee 1%, #ffffff 15%) 
  cursor:  text 
 

select, textarea  
  display:  block 
  width:  100% 
  height:  34px 
  padding:  6px 12px 
  font-size:  14px 
  line-height:  1.42857143 
  color:  #555 
  background-color:  #fff 
  background-image:  none 
  border:  1px solid #ccc 
  border-radius:  4px 
  -webkit-box-shadow:  inset 0 1px 1px rgba(0,0,0,.075) 
  box-shadow:  inset 0 1px 1px rgba(0,0,0,.075) 
  -webkit-transition:  border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s 
  -o-transition:  border-color ease-in-out .15s,box-shadow ease-in-out .15s 
  transition:  border-color ease-in-out .15s,box-shadow ease-in-out .15s 

 
//.pull-down-4 
//  margin-top:  4px 
//
//.pull-down-6 
//  margin-top:  6px 
//
//.pull-down-8 
//  margin-top:  8px 
// 
//.pull-down-10 
//  margin-top:  10px 
// 
//.pull-down-12
//  margin-top:  12px 

// pull-down's
$class-slug: pull-down !default
@for $i from 4 through 26
  .#{$class-slug}-#{$i}
    margin-top: 0px + $i
    
// padding-left's
$class-pull: pull-left !default
@for $i from 4 through 20
  .#{$class-pull}-#{$i}
    padding-left: 0px + $i
    
    
$class-height: height !default
@for $i from 0 through 32
  .#{$class-height}-#{$i*16}
    min-height: 0px + ($i*16)
    
//$class-width: max-width !default
//@for $i from 2 through 60
//  .#{$class-width}-#{$i*20}
//    max-width: 0px + ($i*20)
 
.height-100
  height: 200px
 
.pull-down-24
  margin-top:  24px 
     
.pull-down-34
  margin-top:  34px 
 
.pull-down-48
  margin-top:  48px 
  
.pull-down-68
  margin-top:  68px 
  
.pull-up-10 
  margin-top:  -10px 
  
#topbar-button 
  margin-top:  10px 

td  
  .max-width-380
    width:  380px
  
.width-100
  width: 100px

.width-110
  width: 110px
    
.width-120
  width: 120px
    
.width-130
  width: 130px
  
.width-140
  width: 140px
  
.width-150
  width: 150px


.box-content 
  border-top:  1px solid #DDD 
  padding:  6px 
  


  
 
.modal-dialog 
  margin: 60px auto


th .current 
  padding-right: 12px
  background-repeat: no-repeat
  background-position: right center
  color: #000 !important

th .asc:after
  content: "\f0d7"
  font: normal normal normal 14px/1 FontAwesome
  padding-left: 6px
  font-size: 16px

th .desc:after
  content: "\f0d8"
  font: normal normal normal 14px/1 FontAwesome
  padding-left: 6px
  font-size: 16px

#textarea_feedback
  margin-top: -8px
  text-align: right
  color: #666
  font-weight: bold 

.chosen-label
  label 
    display: block


.red-heart
  color: #AA0000 !important
  
.error_notification
  border: 1px solid transparent
  color: #a94442
  margin-bottom: 10px
  padding: 8px
  border-radius: 0px
  border-color: #dca7a7
  text-shadow: 0 0px 0 rgba(255, 255, 255, 0)
  -webkit-box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 0px 0px transparent
  box-shadow: inset 0 0px 0 rgba(255, 255, 255, 0), 0 0px 0px transparent
  background-color: #f2dede
  background-image: linear-gradient(to bottom, #f2dede 0%, #f2dede 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#fff2dede', GradientType=0)

.uppercase
  text-transform: uppercase
  
.position-image
  width: 185px
  float: left
  margin-right: 10px
  
.position-text
  max-width: 250px
  min-width: 150px
  float: left
  height: 180px