

.green { background-color: #43B44E !important;}
.orange {background-color: #F4922D !important;}
.red { background-color: #C65864 !important;}
.blue {background-color: #38A6ED !important;}
.coal{background-color: #202020 !important;}
.gray{background-color: #D3D3D3 !important;}

.ping{
  font-size:30px;
}

.dark{
  background-color:#000;
}

.wysihtml5-command-active {
  font-weight: bold;
}



.btn-top-margin{
  margin-top:8px;
}



.content{
  padding: 15px 0px;
  height: 100%;
  
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 15px 0 60px;
}

/*
#footer {

  height: 60px;
  background-color:#272f3a; 

  .footer{
    color:#4E5C6E !important;
    text-align:center;
    a{color:#4E5C6E !important;}
    a:hover{color:#4E5C8E !important;}
  } 
}
*/



.fa-3{
  font-size:3em;
}

.remember-me{
  .checkbox{
    color:#686868 !important;
  }
  
}

.form-control {
  font-size: 18px !important;
  margin-bottom:8px;
}

.page-title{
  h1{
    margin-top: 8px;
    /*text-transform:uppercase;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*color: #fff;*/
    /*background: url(../images/theme/gradient.png) repeat-x fixed center bottom;*/
    /*text-shadow: #333 0 -1px 0;   */
    color:#585858;
    /*text-shadow: 1px 1px rgba(255,255,255,0.1), -1px -1px rgba(0,0,0,0.3)*/
  }
  p{color:#fff !important;}
     
}

.breadcrumb{
  
}

.breadcrumb{
  margin-bottom: 8px;
  padding: 8px 0px;
  background-color: transparent;
  /*a{ color: #AF8F25;}*/
  border-radius: 0px; 
  
}

.pull-up-20{
  margin-top:-20px;
}



/*
hr {

  margin-top: 8px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #27303B;
  border-bottom: 1px solid #969696;

}
*/
/*
a {
color: #AF8C42;
text-decoration: none;
}

a:hover {
color: #8A6E33;

}
.icon-badge{
  .btn {
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.52);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.52);
  }
}

*/
/*
h3{
  a{color: 	#CD853F;}
  a:hover{ color: 	#DAA520;}
}
*/
/*a:hover{text-decoration:none!important;}*/



.btn{
  overflow:hidden;
}

.label{
  overflow:hidden;
}

/*
.panel.panel-primary .panel-heading{
  a{color:#fff;}
  a:hover{color:#ddd;}
}
*/
.panel-title {
  margin-top: 0px;
  /* margin-bottom: 0; */
  font-size: 16px;
  color: inherit;
}

.account_badge{
  height:240px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-player{
  table{
    margin-bottom:0px;
    thead{
      font-size:15px;
      tr{
        th{
          padding-top:0px;
          padding-bottom:0px;
        }
      } 
    }
  }
}

.panel-player:hover{
  h4{color:#eee;}
  color:#000;
  table thead tr th{color:#333;}
} 

.bg-recording-title{
  padding:4px 0px 4px 8px;
  margin-left:-8px;
  margin-right:-8px;
  margin-bottom:8px;
  background-color:#3C9A94;
  h4{font-size:16px; margin-top:4px;}
  /*
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-shadow: #fff 0 1px 0;
  */
  color: #fff;
}

.pull-down{
  margin-top:18px;
}
table thead tr th{
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #6d6d6d;
  text-shadow: #fff 0 1px 0;
}
.table > thead > tr > th{
  padding-top: 14px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 0px solid #545E77;
}


/*
.panel{
  border-radius: 3px;
  border:1px solid;
  -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.2);
  box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.2);
}

.panel .digiramp_player{
  background:none;
  border:none;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0px;
  background-color:#F0F0F0;
  padding:8px;
  padding-top:0px;
  margin-bottom:16px;
}
*/

.cover_thumb{
  margin-right:12px;
}

ul
{
  padding:0px;
  margin-left:20px;
}

@media (min-width:768px) {
  .comment{
    margin-top:0px;
    max-width:650px;
  }
}

.player_action{
  display:inline;
}

.edit{
  min-width:191px;
}

.gray-text{
  color:#999;
}
.table-permissions > .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #C3C3C3; 
}



.icon-badge{
  
  .btn{
    width:100%;
    padding:30px;
    margin-top:20px;
    .fa{font-size:100px; 
      text-shadow: #888 0 -1px 0;
      color: #F0F0F0;
    }
  }
  
  .btn-default{
    .fa{
      text-shadow: #fff 0 1px 0;
      color: #666;
    }
  }
}
.meta_line{
  .col-xs-6{
    padding:6px !important;
    /*padding-bottom:-6px !important;*/
  }
  
  hr{
    margin-top:0px !important;
    margin-bottom:0px !important;
  }
}
.meta_line:hover{
  background-color:#fff;
}

.truncate {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.width_350{
  
  max-width:350px;
}

.gravatar{
  margin-right:16px;
  float:left;
  display:inline;
}

.address{
  
  display:inline;
  table tr th{ text-align:right;} 
}


.editable-table{
  width:100%;

  thead tr th {
    -webkit-font-smoothing: antialiased;
    color: #000000!important;
    text-align: center;
    background-color: #999;

    
    border-spacing: 2px;
    border-color: gray;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
    color: -webkit-text;
    text-align: start;
    
    color: #000;
    text-shadow:none; 
  }
  
  .column-label > td, .row-label {
    text-align: center;
    background: #EEE;
  }
  td {
    border: 1px solid #EEE;
  }

}

.submission{
  h3{
    margin-top: 0px;
    margin-bottom: 0px
  }
  .digiramp_player .thumbnail > img {
    display: block;
    display: block;
    width: 100%;
  height: 60px;
  }
}





/*
.gray-back{
  .thumbnail{
    background-color:#555;

    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

  }
  
}
*/

/*
input[type="file"]::-webkit-file-upload-button, button {
  width:1px;
  visibility:hidden;
}
*/
