html,
body{
  /*h1,h2,h3,h4,h5,h6{font-family: 'Cinzel', serif;}*/
  height: 100%;
  font-size: 16px;
  background-color:#EEE;
  /*background: image-url('skyline.jpg');*/
  background: image-url('img-noise-002.png');
  
  
  /*background-image:url("http://d75k54frx42tp.cloudfront.net/img-noise-002.png");*/
  /*
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(238, 238, 238); 
  */
   /*background: url(../images/img-noise-361x370.png) repeat-x fixed center bottom;*/
  color:#474747;
}

.green { background-color: #43B44E !important;}
.orange {background-color: #F4922D !important;}
.red { background-color: #C65864 !important;}
.blue {background-color: #38A6ED !important;}
.coal{background-color: #202020 !important;}
.gray{background-color: #D3D3D3 !important;}

.ping{
  font-size:30px;
}

.dark{
  background-color:#000;
}

.wysihtml5-command-active {
  font-weight: bold;
}



.btn-top-margin{
  margin-top:8px;
}



.content{
  padding: 15px 0px;
  height: 100%;
  
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 15px 0 60px;
}

#footer {

  height: 60px;
  background-color:#272f3a; 

  .footer{
    color:white !important;
    text-align:center;
  } 
}

.full-width-top{
  
  padding:5px 15px 5px 15px !important;
  h1,h2,h3,h4,h5,h6{font-family: 'Cinzel', serif;}
  margin-top:-15px;
  padding:5px;
  width:100%;
  /*
  background-image: -webkit-linear-gradient(top, #69B9EB 0%, #38A6ED 100%);
  background-image: linear-gradient(to bottom, #69B9EB 0%, #38A6ED 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69B9EB', endColorstr='#ff38A6ED', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);

  */
  background: #2a3e5f; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #2a3e5f 0%, #272f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2a3e5f), color-stop(100%,#272f3a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #2a3e5f 0%,#272f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3e5f', endColorstr='#272f3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  border-bottom-style:solid;
  /*background-color:#1264AE;*/
  border-color:#C5A12A;
  border-width:1px;

  font-size:26px;
  a:hover{color:white; }
  .navbar{
    margin-bottom: 0px;
    li a {
      color: #FFF;
      /*font-family: 'Cinzel', serif;*/
      font-size:20px;
    }
    li a:hover{color: #CCD;}
  }
  /*
  .navbar ul li{
      a.active{
          color:#AF8F25;
        }
    }
  
  */
  .navbar-default {
    margin-left:-15px;
    margin-right:-15px;
    margin-top:0px;
    
    color:white;
    background-color:transparent !important;
    background-image:none !important;
    border-color:transparent !important;
    
    
    .active {
      a{
        color: #AF8F25;
        background-color:transparent !important;
      }
      a:hover{color: #AF8F25;}
    }
  }
  .navbar-brand{ img{height:50px; margin-top:-14px;}}
  .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
}


.fa-3{
  font-size:3em;
}

.remember-me{
  .checkbox{
    color:#fff !important;
  }
  
}

.form-control {
  font-size: 18px !important;
}

.page-title{
  h1{
    margin-top: 8px;
    text-transform:uppercase;
    -webkit-font-smoothing: antialiased;
    color: #6d6d6d;
    /*background: url(../images/theme/gradient.png) repeat-x fixed center bottom;*/
    text-shadow: #fff 0 1px 0;   
  }
  p{color:#fff !important;}
     
}

.breadcrumb{
  
}

.breadcrumb{
  margin-bottom: 8px;
  padding: 8px 0px;
  background-color: transparent;
  a{ color: #AF8F25;}
  border-radius: 0px; 
  
}

.full-width-top .navbar li {
  font-weight:400;
  a{color:#E6E6E6;}
  a:hover{color: #fff;}
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #888;
  border-bottom: 1px solid #fff;
}



h3{
  a{color: 	#CD853F;}
  a:hover{ color: 	#DAA520;}
}

a:hover{text-decoration:none!important;}



.btn{
  overflow:hidden;
}

.label{
  overflow:hidden;
}

.panel-title {
  margin-top: 0px;
  /* margin-bottom: 0; */
  font-size: 16px;
  color: inherit;
}

.panel-player:hover{
  h4{color:#333;}
  color:#000;
  table thead tr th{color:#333;}
} 

.bg-recording-title{
  padding:4px 0px 10px 4px;
  
  h4{font-size:25px; margin-top:4px;}
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #6d6d6d;
  text-shadow: #fff 0 1px 0;
  
}
table thead tr th{
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #6d6d6d;
  text-shadow: #fff 0 1px 0;
}
.table > thead > tr > th{
  padding-top: 14px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 0px solid #545E77;
}


.panel{
  border-radius: 0px;
}
.panel .digiramp_player{
  background-color:#9b9b9b;
}

.panel-group .panel {
  margin-bottom: 0;
  overflow: hidden;
  border-radius: 0px;
  background-color:#F0F0F0;
  padding:8px;
  padding-top:0px;
  margin-bottom:16px;
}

.cover_thumb{
  margin-right:12px;
}

ul
{
  padding:0px;
  margin-left:20px;
}

@media (min-width:768px) {
  .comment{
    margin-top:10px;
    max-width:650px;
  }
}

.player_action{
  display:inline;
}



/*
.gray-back{
  .thumbnail{
    background-color:#555;

    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;

  }
  
}
*/

/*
input[type="file"]::-webkit-file-upload-button, button {
  width:1px;
  visibility:hidden;
}
*/
