html,
body{
  h1,h2,h3,h4,h5,h6{font-family: 'Cinzel', serif;}
  b,p,i{font-family: 'Junge', serif;}
  height: 100%;
  font-size: 16px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.ping{
  font-size:30px;
}

.wysihtml5-command-active {
  font-weight: bold;
}

.mobile_pagination{

  color: #428bca !important;
  text-decoration: none;
  font-size: 16px !important;

}

.btn-top-margin{
  margin-top:8px;
}


.content{
  padding: 15px 0px;
  height: 100%;
  
}



/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 15px 0 60px;
}

#footer {

  height: 60px;
  background-color:#272f3a; 

  .footer{
    color:white !important;
    text-align:center;
  } 
}

.full-width-top{
  
  padding:5px 15px 5px 15px !important;
  h1,h2,h3,h4,h5,h6{font-family: 'Cinzel', serif;}
  margin-top:-15px;
  padding:5px;
  width:100%;
  /*
  background-image: -webkit-linear-gradient(top, #69B9EB 0%, #38A6ED 100%);
  background-image: linear-gradient(to bottom, #69B9EB 0%, #38A6ED 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff69B9EB', endColorstr='#ff38A6ED', GradientType=0);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1);

  */
  background: #2a3e5f; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #2a3e5f 0%, #272f3a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2a3e5f), color-stop(100%,#272f3a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  #2a3e5f 0%,#272f3a 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  #2a3e5f 0%,#272f3a 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3e5f', endColorstr='#272f3a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  border-bottom-style:solid;
  /*background-color:#1264AE;*/
  border-color:#C5A12A;
  border-width:1px;

  font-family: 'Fenix', serif;
  font-size:26px;
  a:hover{color:white; }
  .navbar{
    margin-bottom: 0px;
    li a {
      color: #FFF;
      font-family: 'Cinzel', serif;
      font-size:20px;
    }
    li a:hover{color: #CCD;}
  
  }
  .navbar-default {
    margin-left:-15px;
    margin-right:-15px;
    margin-top:0px;
    
    color:white;
    background-color:transparent !important;
    background-image:none !important;
    border-color:transparent !important;
    .active {
      a{
        color: #DDD;
        background-color:transparent !important;
      }
      a:hover{color: #DDD;}
    }
  }
  .navbar-brand{ img{height:50px; margin-top:-14px;}}
  .navbar-collapse, .navbar-default .navbar-form {border-color: transparent;}
}