.users
  .row
    .col-sm-3
      .panel
        background-color: #fff
        .panel-body
          padding: 4px
          .center-block
            padding: 4px
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
            height:       75px
            line-height:  15px
            font-size:    13px
            
            
            
            
* 
  box-sizing: border-box





@mixin rowMachine($numPerRow, $margin) 
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow)
  &:nth-child(n) 
    margin-bottom: $margin
    margin-right: $margin
  
  &:nth-child(#{$numPerRow}n) 
    margin-right: 0
    margin-bottom: 0
    

.follow-unfollow
  display: inline-block

  
.person 
  @include rowMachine(7, 2%)
  background: #f0f0f0
  padding: 4px
  float: left
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  
  a
    color: #555


  @media (max-width: 1440px) 
    @include rowMachine(6, 2%)


  @media (max-width: 1216px) 
    @include rowMachine(5, 2%)

  @media (max-width: 992px) 
    @include rowMachine(4, 4%)
  

  @media (max-width: 768px) 
    @include rowMachine(3, 4%)
  

  @media (max-width: 544px) 
    @include rowMachine(2, 4%)
  

  img 
    max-width: 100%
  
.profile
  min-height: 150px
  .avatar
    width: 33%
    max-width: 145px
    float: left
    margin-right: 10px
    margin-bottom: 10px
    img
      max-width: 100%
      height: auto
  .info
    //margin-left: 150px


    
.users-container
  .container
    padding: 10px 0px 15px 30px


      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      