@import "row_machine"
@import "colors"

.users
  .row
    .col-sm-3
      .panel
        background-color: #fff
        .panel-body
          padding: 4px
          .center-block
            padding: 4px
            text-overflow: ellipsis
            white-space: nowrap
            overflow: hidden
            height:       75px
            line-height:  15px
            font-size:    13px
            
            
            
            
* 
  box-sizing: border-box


.follow-unfollow
  display: inline-block

.person-badges
  width: 100%
  .person 
    @include rowMachine(7, 2%)
    padding: 4px
    float: left
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    .avatar
      position: relative
      .user-tags
        position: absolute
        top: 0px
        .user-tag
          //display: inline
          padding: 0px
          color: #EEE
          background: rgb(0, 0, 0)
          background: rgba(0, 0, 0, 0.5)
          height: 17px
          font-size: 12px
          padding-left: 4px
          padding-right: 4px
          margin-bottom: 2px
    
    a
      color: #555
  
  
    @media (min-width: 1800px) 
      @include rowMachine(8, 2%)
      
    @media (max-width: 1800px) 
      @include rowMachine(6, 2%)
  
    @media (max-width: 1440px) 
      @include rowMachine(5, 2%)
  
    @media (max-width: 1216px) 
      @include rowMachine(4, 2%)
  
    @media (max-width: 992px) 
      @include rowMachine(3, 4%)
    
  
    @media (max-width: 768px) 
      @include rowMachine(3, 4%)
    
  
    @media (max-width: 544px) 
      @include rowMachine(2, 4%)
    
  
    img 
      max-width: 100%
    
.profile
  min-height: 150px
  @include panel-default-color
  padding: 5px
  margin-bottom: 10px
  .avatar
    width: 33%
    max-width: 145px
    float: left
    margin-right: 10px
    margin-bottom: 10px
    img
      max-width: 100%
      height: auto
  .info
    //margin-left: 150px
    
    
  .complete
    width: 100%
    .improve-title
      color: #F00
    .improve-bar 
      margin-bottom: 10px
    .improve-button
  
            
            
            
.activities
  @include panel-default-color
  padding: 5px
  margin-bottom: 10px
    
.users-container
  .container
    padding: 10px 0px 15px 30px


      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      