== render 'recordings/recording_with_icons', recording: recording, 
                                             info: true,
                                             add_to_playlist: false, 
                                             remove_from_playlist: true, 
                                             edit: false, 
                                             delete: false,
                                             description: true,
                                             share: true,
                                             target: "",
                                             music_request_link: false,
                                             remove_from_request: false
