/==render 'shared/navbar'
/==render 'shared/sidebar', locals: {page: 'digiramp', sub_page: "blogs"} 
/.main-content
/  .container-fluid
/    .row-fluid
/      .area-top.clearfix
/        .pull-left.header
/          h3 class="title"
/            i class="icon-edit"
/            'Edit Blog Post
/
/          h5
/            'Edit layout and html style for #{@blog_post.title}
/
/
/        
/      ==render 'shared/breadcrumbs'
/      .container-fluid.padded
/        ==render 'shared/messages'
/        .row-fluid
/          .box
/            .box-header
/              span class="title" Post
/              ul class="box-toolbar"
/                li
/                  span class="label label-blue" x
/          
/            .box-content.padded
/              == render 'form'
/
#wrap
  == render 'admin/shared/navbar', page: 'admin'
  .container
    == render 'form'

        