/p#notice = notice
/
/p
/  strong Project:
/  = @project_task.project
/p
/  strong User:
/  = @project_task.user
/p
/  strong Title:
/  = @project_task.title
/p
/  strong Assigned to:
/  = @project_task.assigned_to
/p
/  strong Category:
/  = @project_task.category
/p
/  strong Status:
/  = @project_task.status
/p
/  strong Due date:
/  = @project_task.due_date
/p
/  strong Start date:
/  = @project_task.start_date
/p
/  strong Reminder:
/  = @project_task.reminder
/p
/  strong Priority:
/  = @project_task.priority
/p
/  strong Description:
/  = @project_task.description
/
/= link_to 'Edit', edit_project_task_path(@project_task)
/'|
/= link_to 'Back', project_tasks_path
/

= debug  @project_task